[2019-03-09 20:31] smalleni opened #5 "RFE: CI based on minikube"
It would be good to have a CI based on minikube as in https://blog.travis-ci.com/2017-10-26-running-kubernetes-on-travis-ci-with-minikube

[2019-03-11 15:22] jtaleric opened #7 "RFE : New CR / Playbook structure"
Right now our Custom resource looks like
[code]

We only have a limited definition. I would like to move to a list

[code]

Which would allow us to have a pipeline of workloads that we iterate through.

Also, defining the infrastructure (ie databases we will run against) allows us to kick off infrastructure and run many different workloads against it, vs just always relying on YCSB...

[2019-03-11 17:20] dustinblack commented on #7
+1
This should offer a lot more flexibility and at this point in development should be trivial to change.

Just brainstorming... Is there any need to segregate workload types that require some underlying infra (i.e., ycsb, hammerdb, dvdstore) vs those that operate on the core ocp/k8s substrate (i.e., uperf, fio)?

[2019-03-11 18:49] jtaleric commented on #7
@dustinblack Not sure if we want to segregate them... For example, I have also been thinking about infrastructure like SRIOV -- If we define we need SRIOV configured within the infra, the workloads could possibly take advantage of that.

[code]

Again, I haven't hashed out all the different infra needs we might have...

[2019-03-11 19:24] portante commented on #7
I assume what ever is listed under "workloads" has to be valid/support workloads defined somewhere?

And assume you don't have to list everything, just the workloads you want to run?

[2019-03-11 19:27] jtaleric commented on #7
@portante yes, it is here : https://github.com/jtaleric/benchmark-operator#workloads

[2019-03-11 20:15] aakarshg commented on #7
I've a minor concern about the case that might occur in future when multiple workloads can make use of same infra, we'll need to keep it in mind when we move on with this.

[2019-03-11 20:36] jtaleric commented on #7
@aakarshg nothing is stating we would have to reuse the same infra per workload -- again this is quite fluid, so feel free to put your .02 into the structure

[2019-03-14 23:17] jtaleric opened #11 "Move operator from personal quay.io"
Move Operator and workloads to shared namespace...

[2019-03-15 14:42] dustinblack opened #12 "RFE: Allow full flexibility to run fio jobs"
With the fio jobfile templated in roles/fio-bench/templates/job.fio.j2, we either have to restrict fio parameters to a subset that we are prepared to support, or we have to template out every possible fio parameter.

In order to support full flexibility of fio jobs, it might make more sense to pull the job file out as something that is user-provided as part of the CR or an include of the CR. Off h

[2019-03-18 08:58] shekharberry opened #13 "Changes in main.yaml under fio-bench/tasks not reflected"
Hi,

I was trying to tweak main.yaml to understand how Fio-bench works but any change done to main.yaml is not reflected once I deploy the CR.
Say for eg:
Even If i just change the name of Configmap to fio-test_shekhar and redeploy the CR the configmap is still created with name fio-test.

name: Generate fio test
  k8s:
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:

[2019-03-18 20:28] dustinblack commented on #13
I think you already had a chat with @jtaleric about this, but the gist of it is that any changes to the roles mean that the operator image has to be rebuilt. You'll need the operator-sdk to complete this, and following our current test build process you will need an account on quay.io to upload your operator:testing images to.

[code]

You will also need to edit deploy/operator.yaml to point to yo

[2019-03-19 15:36] jtaleric commented on #13
@shekharberry hey - did you make progress? If so, can we close this issue out?

[2019-03-20 07:17] shekharberry commented on #13
Yes, I could progress. Thanks for the help. We can close the issue.

[2019-03-20 13:46] dustinblack opened #17 "Consider restructuring deploy/"
There is a handy k8s shortcut that allows you to `kubectl/oc create -f <directory>` and it will load all of the yaml files in that directory. The deployment instructions could be simplified by leveraging this shortcut, but the current deploy/ structure is problematic for this since the CRD needs to be loaded before the operator. If the CRD were in the deploy/ directory, then setup would be as simp

[2019-03-20 15:41] dustinblack opened #18 "Add contributors guide"
$subject

[2019-03-20 17:38] dustinblack commented on #18
PR #19 open

[2019-03-21 08:39] aakarshg commented on #17
There's another thing that can be done to address this: we can move operator.yaml and cr/crd.yaml out of deploy directory and perhaps into a new directory called 'resources' ? I'm fine with this and this seems doable with minor change.

[2019-03-21 08:50] aakarshg opened #23 "Propose move to gerrithub workflow"
Github workflow has the following issues:

- Working on other users PR has been significantly difficult leading to PR cycle
- Another major issue is the need for squashing commits.
- There is no real way to look for differences between commits if they were squashed or amended.

I propose that we move to Gerrithub workflow as it addresses above mentioned problem and also provides additional benefit

[2019-03-21 14:42] jtaleric commented on #23
@aakarshg Most openshift / kube projects use the github workflow.

Agree:
- working on PR's isn't straight forward
- squashing can happen prior to merge
- Agreed...

I worry about the migration and what that does to contributions. We are familiar with gerrithub, so that is why we naturally want to go towards it.

[2019-03-21 16:53] #13 closed

[2019-03-21 16:53] jtaleric commented on #5
Closing this as we have a CI in place.

[2019-03-21 16:53] #5 closed

[2019-03-21 16:55] smalleni opened #24 "RFE: Enhance uperf workload to work between ServiceIPs"
Since we have the pod to pod tests in place, it would be good to have a way to do serviceIP to serviceIP tests also.

[2019-03-21 19:09] aakarshg commented on #18
can be closed as #20 has been merged

[2019-03-21 19:09] #18 closed

[2019-03-22 13:40] jtaleric commented on #24
Hey @smalleni can you elaborate on this?

[2019-03-22 13:56] smalleni commented on #24
Sure @jtaleric Something like https://github.com/openshift/svt/blob/master/networking/synthetic/svc-ip-test-setup.yaml where the test is run in between serviceIPs instead of directly pods. The services are backed by pods.

[2019-03-22 14:23] dustinblack opened #26 "RFE: Central collection point for results"
Add a feature to tag workload results and upload them to a central repository (likely an object store). Could be configurable as a private repo, or could default to a public one where we can collect broad result sets for analysis.

[2019-03-22 20:18] aakarshg opened #30 "Toggle to handle different flavors of k8s through infra/workload roles"
Also, currently the [couchbase PR](#8) requires a toggle specified in its spec part of CR to check if it's okd/ocp, and the deployment accordingly makes changes required. I think this toggle should be present at a higher level like cleanup, so the other workloads/infra also make use of the same.

[2019-03-22 20:34] aakarshg opened #31 "Discussion: Creation/handling of additional resources required"
There can be cases where the infra/workloads would require to create additional resources which could be something like RBAC and since it's not required for the operator itself, It wouldn't make sense to mandate user to create them. So thus there are 2 ways to approach this problem:
-  Request user to create the necessary resources after deploying operator and before applying the cr. This would pu

[2019-03-25 20:10] jtaleric commented on #23
Closing this issue, as we have spoken about this... Re-open if you think this isn't resolved.

[2019-03-25 20:10] #23 closed

[2019-03-25 21:50] aakarshg opened #34 "RFE: Move repo to different org"
Also please add CI as admin, as this would enable us to use many more features.

[2019-03-26 14:26] jtaleric commented on #34
I would prefer we move to a non-company specific place for the time being, wouldn't you?

[2019-03-26 15:06] jtaleric commented on #34
we have created `cloud-bulldozer` proposed names `badger` for the operator...

[2019-03-26 20:11] #34 closed

[2019-03-26 20:38] jtaleric opened #35 "RFE : Jinja template workloads"
Right now we are defining the job/pods in the tasks.

We should consider jinja templates for a two reasons

1. Customizations passed by users (ie, Pass a PV or not)
2. Virtual Machines are treated differently

[2019-03-27 11:00] jtaleric commented on #24
@smalleni I am trying to understand what this Ansible playbook is doing with regard to ServiceIPs.

If you are asking if we can _pin_ specific sender / receivers like they are doing here[1], I am totally fine with that sort of addition. This ties into an RFE I have to jinja template the creation of or Pods/Jobs/VMs.

[1] https://github.com/openshift/svt/blob/master/networking/synthetic/svc-ip-test

[2019-03-27 11:09] jtaleric opened #36 "RFE: Manage our CR"
I think we should manage our own CR, allowing us to set our own status with `k8s_status`... Different states that I think make sense

[code]

[2019-03-27 13:11] dustinblack opened #37 "RFE: Allow editing of versions and URLs for couchbase operator and pods in the userspace CR"
Currently, the URLs and versions for the CB operator and pods are defined within the role, and therefore coded into the operator image. We should allow for overriding default values with the CR.

[2019-03-27 18:41] smalleni commented on #24
So, the playbook creates pods and a service to expose those pods. The test is run in between serviceIPs and not podIPs. Currently you have tests to run in between pod IPs. Service to Service throughput is also an important metric especially because applications only consume services.

[2019-03-27 21:07] aakarshg opened #41 "RFE: Look to publish operator"
We should look at publishing operator if not now at least sometime in the future, and [operator-courier](https://github.com/operator-framework/operator-courier) seems to be a good tool to help with that.

[2019-03-28 18:43] #17 closed

[2019-03-29 18:41] dustinblack opened #46 "RFE: Allow CI to test against multiple versions of various environments - k8s, okd, ocp"

[2019-04-01 01:33] aakarshg opened #47 "RFE: Collect cluster metadata before triggering a workload"
We should look at running stockpile/ other tool to collect cluster metadata before we trigger the workload, instead of having a harness run stockpile/other_tool to collect data, I'd propose that we trigger the playbook/role from within the operator itself.
Possible cons of this would be:
- Longer runs for the operator, as it'll have to finish collecting metadata.
- Requires stockpile/other.tool to

[2019-04-01 15:31] jtaleric commented on #47
If we want this in the Operator, I think the RFE #36 will be necessary...

[2019-04-01 15:55] aakarshg commented on #47
I believe that #36 is necessary in general. if we're going to collect metadata within operator logic, then we'd not require to read the status, we'll just be doing it when the CR changes. The idea is to move the logic in uperf a level up, so we can do something like this:
[code]

[2019-04-02 13:49] #35 closed

[2019-04-02 16:33] jtaleric opened #53 "rfe: logo for ripsaw"
Need a sweet new logo for Ripsaw!

[2019-04-02 17:20] maryshak1996 commented on #53
hey @jtaleric ! I'm happy to help out here. could you just include some context to help me understand what 'Ripsaw' is, from an outsider's perspective? A few things that would help the design process here:

- Are there any visuals that come to mind that I could use as inspiration?
- What kinds of words would you use to describe Ripsaw that you would want to convey the spirit of in this logo (ie. i

[2019-04-02 18:04] jtaleric commented on #53
hey @maryshak1996 !!

So, when thinking about the `benchmark operator` - I tend to think something that will run workloads in an automated fashion. When I was digging around online, I found [1]. Which led to the name, due to the autonomous capabilities. ... [2] has cooler visuals :)

[1]https://en.wikipedia.org/wiki/Ripsaw_(vehicle)
[2] https://www.youtube.com/watch?v=P5FjZUwe000

Fast, possibly d

[2019-04-02 18:05] dustinblack opened #54 "Be opinionated about our namespace"
We are facing a few issues related to namespaces and contexts. Ultimately, it makes sense for all resources created by the benchmark operator to exist in a single namespace. It seems that other operator projects are explicit about this -- defining the namespace directly in their deployment and config files.

We have begun hard-coding the 'benchmark' namespace in deploy files, but not for the opera

[2019-04-02 18:46] jtaleric commented on #54
So, the gist of this would be we hard-code everything to `namespace: benchmark`?

Is the complication introduced when we try to have an Operator install and orchestrate and Operator?

[2019-04-02 18:53] aakarshg commented on #54
So currently, when we do operator install, we deploy it to the namespace set in current-context so if the user did oc project benchmark before deploying operator then it'll be deployed to benchmark namespace otherwise whatever was in current context. The issue furthers with the deployments/rbacs applied by operator itself such as in the case of couchbase where we use {{ meta.namespace }}. So if th

[2019-04-02 22:53] jtaleric opened #56 "Consider finalizer"
https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/dev/finalizers.md

[2019-04-03 13:00] dustinblack commented on #37
Completed with PR #43

[2019-04-03 13:00] #37 closed

[2019-04-03 14:02] maryshak1996 commented on #53
@jtaleric that's great feedback! I'll take that info, run with some ideas, and post back here with some options soon!

[2019-04-03 19:52] jtaleric commented on #26
I am re-iterating on this idea.

Current idea:
Create shared pvc `deploy/result-pvc.yaml`
[code]

Since we are moving to template our workloads, this would be simple to implement...

[code]

The output needs to be _sent_ to the share location
Again, modifying the template `roles/sysbench/templates/sysbench.sh.j2`
[code]

To enable this feature, it is in our CR
[code]

This just gets the Operator t

[2019-04-03 19:57] aakarshg commented on #26
Looks good, Added a comment inline

Instead of just using a file stdout, perhaps append timestamp it to file name after benchmark name so something like sysbench_1554321422.stdout

[2019-04-08 19:16] aakarshg opened #60 "CI to use tags for operator based on executor_name"
This is to avoid race condition as multiple tests can be run simultaneously.

[2019-04-08 20:28] maryshak1996 commented on #53
I did some initial work (I'll move onto colors and fine tuning once I know if I'm going down the right direction). I think that having a horizontal and vertical version of the logo would be good because you'd have the flexibility to use either one, depending on the context of the space that it's in
![Screen Shot 2019-04-08 at 4 23 58 PM](https://user-images.githubusercontent.com/19824574/55754721-

[2019-04-08 20:28] maryshak1996 commented on #53
^ @jtaleric

[2019-04-08 20:31] aakarshg commented on #53
This is excellent work @maryshak1996 , this is kind of what I had in my mind as well. Thanks :-)

[2019-04-08 20:31] jtaleric commented on #53
@maryshak1996 These are great! I love the graphic and the font!

[2019-04-08 20:36] maryshak1996 commented on #53
@aakarshg @jtaleric wooo! I'm glad that you like it :) is there anyone else that I should wait for it weigh in before moving on to some colors and refining?

[2019-04-08 22:23] jtaleric commented on #53
@maryshak1996 Nothing from me, good to go!!

[2019-04-08 22:53] dustinblack commented on #53
I dig it. Let's go!

[2019-04-10 15:04] aakarshg commented on #54
After the conversation with @dustinblack , we've come to conclusion that we should be defaulting to `ripsaw` namespace for the roles/rolebindings and such. For the roles we should read from a variable that can be set at higher level through group_vars hopefully. This would be done through #50

[2019-04-10 15:14] dustinblack commented on #54
+1 -- The `ripsaw` namespace should be less likely to collide with something that a user has existing than the `benchmark` namespace. It's unfortunate that we have to hard-code this in multiple places in the deploy/ and resources/ files, but we don't see a way around that. A global var for the roles should be doable, though.

[2019-04-12 20:03] maryshak1996 commented on #53
Comin to you live with an initial color exploration!
Any thoughts??
![Screen Shot 2019-04-12 at 4 02 34 PM](https://user-images.githubusercontent.com/19824574/56063161-80b0c480-5d3c-11e9-827f-ee6fe51c0d25.png)

[2019-04-12 20:05] aakarshg commented on #53
@maryshak1996 this loooks good, and goes well with the theme of metalkube too. I like it,

[2019-04-12 20:14] jtaleric commented on #53
Another +1 here! this is outstanding!

[2019-04-12 23:35] dustinblack commented on #53
I think the colors are really cool! The only thing I'm not sure about is coloring only saw in ripsaw. It makes me read it with an accent on the second syllable.

[2019-04-16 13:06] #54 closed

[2019-04-18 21:06] maryshak1996 commented on #53
@dustinblack I think that that's fair! do you think that this works better?
![Screen Shot 2019-04-18 at 5 06 13 PM](https://user-images.githubusercontent.com/19824574/56391307-4a6fbb00-61fc-11e9-9591-f5b839eae77e.png)

[2019-04-18 21:07] maryshak1996 commented on #53
it's important that the text be accessible on both dark and light backgrounds, and the teal color will be more visible on both than the grey will be.

[2019-04-18 21:15] maryshak1996 commented on #53
Here are the full-color assets for the logo as shown above (SVG and hi-res PNG) as well as the all-white and all-black versions. Let me know if you need any other assets!
[RipSaw-LogoAssets.zip](https://github.com/cloud-bulldozer/ripsaw/files/3096199/RipSaw-LogoAssets.zip)

[2019-04-22 16:19] jtaleric commented on #53
This is awesome work @maryshak1996 !! Thank you so much!

[2019-04-22 16:19] #53 closed

[2019-04-22 19:44] jtaleric commented on #11
Cleaned this up already.

[2019-04-22 19:44] #11 closed

[2019-04-23 13:53] aakarshg commented on #7
Given that we would like to encourage users to run only one workload at once, following would be how I suggest we move forward with CR:
[code]

[2019-04-24 13:47] aakarshg opened #71 "Collect and display more detail for CI"
- [x] - CI should move on running workloads even if one fails
- [x] - CI should display workloads that passed and the ones that failed
- [ ] - Collect logs of a particular run through tmp/ansible-operator/runner/benchmark.example.com/v1alpha1/Benchmark/ripsaw/example-benchmark/artifacts/latest/stdout file in pod
- [ ] - Upload these logs somewhere so user can access them later

[2019-04-25 17:25] #7 closed

[2019-04-29 17:41] jtaleric commented on #24
Hey @smalleni I am going to work on this soon... However, I am still not 100% on ServiceIP. Host networking should obtainable, same with scheduling pods across nodes... I will tag my PR to suggest it fixes this issue, hopefully you can put your .02 on it.

[2019-04-29 17:49] smalleni commented on #24
@jtaleric Thanks for looking into this. So, to reiterate the idea, launch a bunch of pods, label them as senders and front end them with a service. Same thing with receiver pods. Now, run pbench-uperf using the sender and receiver IPs as serviceIPs instead of pod IPs.

[2019-04-29 23:41] #26 closed

[2019-05-13 15:47] jtaleric commented on #12
This has been implemented!

[2019-05-13 15:47] #12 closed

[2019-05-17 11:20] dustinblack opened #84 "Simplify repo structure and installation process"
I still feel like we have some structural issues that make ripsaw harder to consume than it should be. Exactly what the best practices are to define and structure operator resources seems to be up for debate, but I would recommend we do something similar to rook.io where the operator and all of its k8s resource dependencies are deployed via 2 yaml files -- common.yaml (which houses the namespace d

[2019-05-17 17:32] bengland2 commented on #84
I like the idea of separating the site-specific parts into a separate yaml file, so as much as possible is reusable.   In common yaml there should be a comment at the top saying "no user-serviceable parts inside" whereas the per-site.yaml should be heavily commented and have default values in it so people know when and where it's necessary to edit.

[2019-05-21 14:34] dustinblack opened #86 "uperf workload should default to testing between nodes"
Right now, unless you explicitly pin the clients and servers, uperf may (and often does) schedule the client and server component pods onto the same host. This leads to network testing only of the loopback of the host, which I do not think is generally useful.

I believe we should implement anti-affinity for the associated client and server pods so that by default they run on different nodes and t

[2019-05-21 14:37] dustinblack opened #87 "Mesh mode for uperf"
A baseline test that I've commonly used is to fully saturate the network connections between nodes in order to reveal any bottlenecks that may affect higher-layer tests. I'd like to see us add a "mesh" mode to the uperf test in which we intelligently determine the number of scheduleable workers and run tests between all nodes simultaneously.

[2019-05-22 17:51] dustinblack opened #88 "Allow for customizing CI tests based on environment and version"
This is particularly important for infra roles. It may not be possible to create one test CR for a role that could be expected to pass on all of K8s upstream, OCP 3.0, and OCP 4.0. If the CI system is going to automate testing of multiple environment types, then we need the ability to create test CRs that are applicable to the specifics of the environment.

[2019-05-22 18:56] dustinblack commented on #84
Thinking more about, this, I wouldn't converge all of the resources into a single file; I would keep the operator itself as its own definition. I often need to delete and re-deploy the operator, but I don't need at that time to delete and re-create all of the RBAC and related stuff, and in particular it can be troublesome to unnecessarily delete the namespace.

So I would propose converging every

[2019-05-22 19:10] bengland2 commented on #84
+1.   We could factor out the stuff that never changes into a single file,  to minimize the amount of yaml that people have to touch, and heavily comment the things that people do have to touch so they know what parts to change and what parts not to change.

Is there a way to separate out all the must-change parts into a separate YAML file and make a yaml template file that these vars get injected

[2019-05-23 06:17] chawlanikhil24 opened #91 "Do we need a Security Context Constraints for benchmark-operator/ripsaw ?"
While I was working on small-file operator,  I faced a lot of issues due to non-root privileges container, so , the solution we could rule out was to create an SCC and associated SA , then allowing the pods to run as root. But the difference was, I was not using a PVC to develop the smallfile operator. I don't think that when we will be working with PVC mounted on a mountpath, we could really see

[2019-05-23 13:45] jtaleric opened #92 "Multiple UPerf tests w/ single CR"
We want to have a single UPerf CR that iterates through multiple UPerf scenarios, for example:

[code]

The above test will iterate through 16384 and 1024 message sizes.

There are two approaches I see, one of which I have implemented and tested.

### First Option
Build UPerf XML to iterate through the tests.

However, the output isn't obvious, meaning:
[code]

It isn't obvious to the reader which

[2019-05-31 20:01] #60 closed

[2019-06-03 15:00] dustinblack commented on #88
Adding clarity as discussed on our call..

This mostly affects infra roles, as often you cannot use the exact same methods/tools/sources to install the infra on k8s, OCP 3, and OCP4. This means that I cannot easily create a single test CR file that will pass on all CI systems. What I propose is to add logic to the CI script structure that allows for varying the test scripts and/or the CR files bas

[2019-06-03 21:54] aakarshg commented on #88
This can be done today easily as Jenkins makes a list of variables available to the tests as environment variables [1]. We can then access them and manipulate in the test scripts as needed. For an example, we can look at PR #94 which was doing something similar with the variable NODE_NAME. So in this case, we can use the variable JOB_NAME, as JOB_NAME contains either minikube or minishift which wi

[2019-06-03 22:59] #92 closed

[2019-06-04 13:20] dustinblack opened #97 "CI wait_clean function doesn't actually do anything"
In the CI `test.sh` script, we call the `cleanup_resources` function followed by the `wait_clean` function.

[code]

The `wait_clean` function checks 30 times effectively for the operator pod to not be running.

[code]

However, the `cleanup_resources` function does not include commands to stop the operator pod.

[code]

This results in the `wait_clean` function simply running through its 30 itera

[2019-06-04 13:43] aakarshg commented on #97
`wait_clean` function doesn't just check for the operator pod to not be running, but it effectively waits for any pods that are still in terminating state. This is to provide a buffer time for all pods to safely terminate, before the next build begins on same executor, this is also why we start with a `wait_clean` when we start[1].

It's all to ensure that when we're checking for number of pods th

[2019-06-04 14:16] dustinblack commented on #97
Still looks like a bug to me.

In this `if` statement from `wait_clean`:
[code]

The `-ge 1` will always evaluate to true if the operator pod is running. If we expect the operator pod to _not_ be running at this point, then we should be calling commands to stop it prior to running this `if` loop.

If we expect that the operator pod _may_ be running, and it is OK for it to be running, then the func

[2019-06-04 15:30] dustinblack commented on #97
Then it seems to make sense to replace `cleanup_resources` with `cleanup_operator_resources` in the `test.sh` script so that we are explicitly deleting the operator pod before continuing.

[2019-06-05 12:49] dustinblack commented on #84
Here are my general recommendations for restructure. Please provide feedback.

1. Consolidate the scripts in the `deploy` directory. The 10..60 scripts should be merged into a single file, perhaps `common.yaml` to follow the rook.io example. There is basically zero reason you would ever deploy just one of these files, so this merge makes sense to simplify the installation process for the user.

2.

[2019-06-05 19:24] bengland2 opened #101 "fio result structure and meaning"
A discussion with Alex Calhoun got me thinking about fio-result.json produced by ripsaw fio-bench, specifically the "All clients" section.  Does this section mean anything?  All fio-benchmarks I've used in the past has just given you throughput numbers that were the sum of the individual fio processes (pods in your case) **running at the same time on the same workload**.   But ripsaw is running fi

[2019-06-05 19:29] acalhounRH commented on #101
+1

[2019-06-05 20:02] jtaleric commented on #101
Isn't this generated by fio itself? I would hope fio would have a sense of the meaning?

@shekharberry wrote the jobfile -- is there a way to change this?

If we want to sync them, we can....

Correct. We would need to post-processes all the fio result files, right?

This should be easy to implement. If we want to make sure they all run and don't drift we could use the redis backend between jobs.

[2019-06-05 21:23] bengland2 commented on #101
So after talking to Aakarsh and Joe, I'm of the opinion that all the data that we need is in the existing directory structure in the PV after the test, and it does faithfully represent what fio produces -- it's not in the same format that other tools produce, but is arguably just what fio produces, no more no less.   [Here is a sample](http://perf1.perf.lab.eng.bos.redhat.com/pub/bengland/public/o

[2019-06-06 13:31] jtaleric commented on #101
Thanks for the clear feedback @bengland2! We appreciate it!

[2019-06-06 13:31] #101 closed

[2019-06-06 14:56] aakarshg commented on #84
I think this makes sense.

This isn't suggested, the namespace should be its own file. As sometimes, people would want to update the operator without having to delete the namespace. Even our CI doesn't delete the namespace.

I'd agree with this change.

I agree with this.

This makes sense as well.

[2019-06-06 15:00] aakarshg commented on #97
That would cause issues as well, because operator pod is being deleted in the individual test already. So if it were to be deleted again, it'd throw an error. Thats the reason why we use `cleanup_resources` instead of `cleanup_operator_resources`

[2019-06-06 15:16] dustinblack commented on #84
This would be in the `common.yaml` (or `prereqs.yaml` or whatever it makes sense to call it) not in the `operator.yaml`, so the namespace would only get created/destroyed with the prerequisite $stuff not with the operator pod.

The rook.io `common.yaml` file takes this approach:

https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/common.yaml

As does kubevirt.io (they actual

[2019-06-06 15:51] dustinblack commented on #84
Based on bluejeans discussion, we'll leave the namespace out of the `common.yaml` file for now because it has a life/context outside of ripsaw for post-processing and because we have seen problems with other operators when deleting the prerequisite resources that deleting the namespace first (because it is at the top of the file) can cause it to hang in a perpetual terminating state.

[2019-06-07 12:45] dry923 commented on #86
This should be a relatively simple change adding the preferred affinity to be on a different node. I believe it should be something like this: [https://github.com/dry923/ripsaw/blob/3372a86ad5072b5687825082c1a0551e70f48aab/roles/uperf-bench/templates/workload.yml.j2#L48-L57](https://github.com/dry923/ripsaw/blob/3372a86ad5072b5687825082c1a0551e70f48aab/roles/uperf-bench/templates/workload.yml.j2#L

[2019-06-17 15:31] markhpc opened #108 "Investigate YCSB default Benchmark Settings"
Hi,

Joe asked me to create an issue for this.  Many of the default YCSB benchmark configurations use a zipfian distribution for reads which will greatly favor reads from cache rather than from disk.  It would be worth creating several additional benchmark configurations that also test random read distributions in addition to zipfian.

[2019-06-24 18:26] aakarshg opened #111 "Sanity check of the CR applied"
Identify incorrect/invalid CRs or essentially just validate the CR parameters, before starting to run the benchmark and hitting errors. An example of this can be, if a user provides a storage class that's on available on the cluster, then an error message should be displayed without entering logic of the particular benchmark instead of hitting errors while creating pods/pv needed for that benchmar

[2019-06-25 13:39] dry923 opened #114 "Add creation of minishift/minikube environment for CI"
Per aakarshg I've rolled together a simple setup of the minikube/shift environments for CI. This gets triggered near the start of the test.sh script using blackknight's setup/install playbooks depending on the NODE_LABELS.

Current work is here: https://github.com/dry923/ripsaw/blob/miniinstall/tests/start_mini.sh

A few outstanding questions:
- Should we always install fresh or just see if it is

[2019-06-25 14:55] aakarshg commented on #114
Nice work

I think the goal would be to do a fresh install

So if we're running start_min{shift,kube}.yml it'll automatically delete everything when its kicked off

This is taken care of by the start_min{shift,kube}.yml, it'll automatically delete everything when its kicked off

I dont think we'll need to, as we won't run the setup_min{shift,kube}.yml playbook.

Above is my opinion, but another im

[2019-06-25 15:26] netzzer opened #115 "Pgbench CR hard coding thread count = 1"
The value of threads: in CR is not being used. Below is how CR is configured and below is output after CR is deployed.

[2019-06-25 15:29] netzzer commented on #115
The value of `threads:` in CR is not being used. Below is how CR is configured and below is output after CR is deployed.
$ cat ripsaw_v1alpha1_pgbench_cr.yaml
apiVersion: ripsaw.cloudbulldozer.io/v1alpha1
kind: Benchmark
metadata:
  name: pgbench-benchmark
  namespace: ripsaw
spec:
  workload:
    name: "pgbench"
    args:
      clients: 3
      **threads: 100**
      scaling_factor: 1

$ oc logs

[2019-06-25 15:34] dustinblack commented on #115
This is against my development branch. I'll take care of it.

[2019-06-25 16:59] dustinblack commented on #115
The threads value seems to be used correctly in the ansible task:

[code]

[2019-06-25 17:14] dustinblack commented on #115
This seems to be just a pgbench syntax problem. The `clients` value must be a multiple of the `threads` value, not the other way around. I'm guessing log output provided here was from a previous run, not the one with this CR, since this should have resulted in a pgbench syntax error and a failed run.

Added a note to the example CR file in my dev branch.

[2019-06-25 17:14] #115 closed

[2019-06-25 18:43] dry923 commented on #114
Regarding the amount of time. About how long/often does this need to be triggered by hand? Time saved might be > than the extra 10 minutes.

[2019-06-27 18:23] aakarshg commented on #71
@dry923 @jtaleric @dustinblack after we run CI on 4.2 through dev-scripts

[2019-07-01 11:32] RazTamir opened #119 "fio-d: Allow running FIO on predefined PVC and pod"
I would like to run FIO-cr over a predefined PVC attached to an existing pod.
This is mainly needed as testing efforts not specific to benchmark

[2019-07-01 19:51] aakarshg commented on #114
- [ ] Iterate through all test scenarios even if one fails, and then display a summary
- [ ] Before the start of the run, do a delete on the deploy dir as well as the crs and ignore failures
- [ ] add another additional trigger to a job, that'd redeploy the platform for testing before running tests

[2019-07-01 22:47] jtaleric opened #121 "Suggestion : Remove infrastructure from Ripsaw"
Currently Ripsaw attempts to manage other operators, which has been a struggle.

## Why did we have Ripsaw launch other operators?
We wanted to have the application be managed via the Operator framework for testing the workload, and to provide an end to end solution.

## What is wrong with this approach?
It causes complexity that we continuously have to work around. Broken CI, which slows down our

[2019-07-02 03:15] aakarshg commented on #121
The approach of having an operator manage/launch another operator might not be necessarily novel, but still waiting to hear from the operator-sdk community on how they tackle an operator launching/managing another operator and its resources.

I vote in favor of it, as there doesn't seem to be a clear/supported way of doing this that's provided by the operator framework

[2019-07-02 05:56] dustinblack commented on #121
It will be much simpler for us to focus efforts on Ripsaw running only workloads, that's for certain. However, since we have discussed a completely automated benchmark lifecycle, we cannot accomplish that end-to-end without also automating the infrastructure/application under test. If we remain committed to the end-to-end automation, then something will need to take the place of Ripsaw in standing

[2019-07-02 10:01] jtaleric commented on #121
My suggestion was to remove the operator aspect. This gets us out of the discussion of _which_ operator we support. We could still provide a mechanism to deploy mariadb/mongodb/etc just without using an operator.

If we wanted to keep some form of infra in Ripsaw to have a *end-to-end* I think we simply go with the above approach.

Not suggesting it is the silver-bullet for CI, however it does see

[2019-07-02 14:11] dustinblack commented on #121
Alright, this doesn't jive with your issue title here. If we want to keep infras, where reasonable, but not deploy those infras via other operators, then we will still need to maintain some structure to the repo and the CI system accordingly. I'm still thinking about PR #104 and how to get better organized in general, so this decision can affect that.

So we by default rule out any lifecycle autom

[2019-07-02 15:46] dustinblack commented on #121
So to my question about what to do with the work already put into the existing infras... Do we maintain the work somehow, or scrap it altogether. I see three approaches:

1. Scrap it. We can reference the work in forks and dev branches as needed.
2. Keep it in Ripsaw, but in an "unsupported" or "experimental" structure of some kind that bypasses CI.
3. Move it into something like SNAFU for referen

[2019-07-02 22:45] aakarshg commented on #121
As agreed on the call, we've removed all infra from Ripsaw. To ensure that the work we put into, can still be made use of and leveraged, I created an infra-operator codenamed [cloud-builder](https://github.com/cloud-bulldozer/cloud-builder). This has all the roles and work related to infra. I've also tried to test mongo and it worked fine. I also tried postgres on minikube but ran into some issues

[2019-07-02 22:47] #121 closed

[2019-07-03 02:34] dustinblack opened #126 "Add figlet to CI systems"
Just a simple hack to help with CI log output readability. I've added to each test script:

`figlet $(basename $0)`

Which will output something like this at the beginning of each script:
[code]

But these commands are disabled right now because figlet is not available on the CI systems.

[2019-07-03 10:22] jtaleric commented on #31
We have decided to not have Ripsaw manage this.

[2019-07-03 15:25] #24 closed

[2019-07-03 18:49] dustinblack opened #128 "Redundant tasks in uperf-bench/tasks/main.yml"
Looks like 2 plays got duplicated.

https://github.com/cloud-bulldozer/ripsaw/blob/983666ffb9715452fbc1b0aece95025b5dbe15f4/roles/uperf-bench/tasks/main.yml#L127

[2019-07-05 15:50] dustinblack opened #130 "fio-d: roles should include commands to drop caches"
fio best practice is (generally) to sync and drop caches with every iteration/sample. This is usually done with:

[code]

We could add this as a bash command to each test sequence, or we could include it directly in the fio job file with:

[code]

Might be worthwhile to make this optional in the CR for the off chance someone wants to test without this.

[2019-07-08 16:41] dustinblack opened #139 "fio-d: Move data normalization and indexing to SNAFU"
We need to do this in order to get out of maintaining the separate `operator_store_results.yaml` and the `result` and `pre-result` roles. The current implementation for uperf should serve as the design example.

[2019-07-08 17:16] dustinblack opened #140 "fio-d: Implement servers as a list to loop through"
Pushing fio to find system limits usually involves ramping up the parallelism of worker jobs. You can do this via threads per worker (which should also be implemented as a list; separate issue), but it is often valuable, particularly for a distributed storage SUT, to increase the total number of workers in order to get past any per-worker bottlenecks and properly saturate the storage system.

Impl

[2019-07-08 17:54] vasukulkarni commented on #119
@dustinblack can you take this up as high priority? I am planning to intergrate ripsaw with ocs-ci. Thanks!

[2019-07-08 18:03] jtaleric commented on #119
@vasukulkarni you want to pass a PVC to the CR to run FIO against? That should be a simple change to fio.

[2019-07-08 18:06] vasukulkarni commented on #119
@jtaleric I will create a PVC and would like to use that name either for FIO or any workloads that ripsaw runs, In same example files, I think I saw we can specify pvc name, but maybe you can clarify how to use it?

[2019-07-08 18:12] dustinblack opened #141 "fio-d: List of small issues/enhancements"
- [x] **PVCs should have unique names between runs.** Currently these are `claim-{{ item }}`, which can at the very least cause some annoyances if deleting and then re-applying the CR, as the operator will trigger creating of a PVC with the same name as one that is still being deleted.

- [x] **Implement size- vs. time-based runs.** Currently the CR and templates allow for a time-based run in the

[2019-07-08 18:22] dustinblack commented on #119
The current implementation will always create the PVC based on the information provided in the CR. Using an existing PVC is *probably* a relatively simply logic change.

Do you need the fio role specifically, versus the fio-d role? I think the main reason you might need that is if you are going to use the `get_url` functionality to provide a custom jobfile. I ask because I'm hoping to focus on fio

[2019-07-08 18:36] vasukulkarni commented on #119
The issue was created for fio specifically, but In general, we want to utilize the ripsaw framework for any workload (fio, couchbase, mongo etc) with pvc(varying size and backend) created in our ci, I dont think it matters much what pod we use.

[2019-07-08 22:05] aakarshg opened #143 "fio-d: run a custom fiojob"
Facilitate fio-d to run a custom job, that can be provided as an url

[2019-07-08 23:56] netzzer opened #144 "[pgbench] pin_node is NOT optional in ripsaw_v1alpha1_pgbench_cr.yaml"
Leaving pin-node blank caused the client pod to not create. Adding a value such as `pin_node: "ip-10-0-134-143"` in ripsaw_v1alpha1_pgbench_cr.yaml fixed the problem and the test ran as expected after this change.

[code]

[2019-07-09 00:07] jtaleric commented on #144
Did you try with `pin_node` removed from the CR?

[code]

When looking at the code.

[code]

We might want to check the length of pin_node against a value, for example :

[code]

[2019-07-09 01:34] dustinblack commented on #144
Tested these conditions:

1. `pin_node` not defined: **passed**
2. `pin_node` defined with a valid node name (from oc get nodes): **passed**
3. `pin_node` defined but empty: **failed**
4. `pin_node` defined as '': **passed**
5. `pin_node` defined as false: **failed**

5 above was just an extra test, so I'm sure 3 is what got you.

In the case of 3, we get the error:
[code]
So I don't think there w

[2019-07-09 08:02] chawlanikhil24 commented on #119
I think its pretty simple to run pods with your own attached PVCs. Just need to skip some tasks in the FIO role, and in the pod definition, and in the end, need to mount the pre-defined PVC to PODs, but I've a concern , why do you not want to opt for creating PVC using storageClasses ? I mean what would be the difference b/w user-defined PVC and ripsaw created PVC using storageClass ?

Another thi

[2019-07-09 10:53] jtaleric commented on #144
Instead of us having to duplicate logic (like we currently are), how about we create `role/pretasks` that runs before all the other roles.

The responsibility of this role is to check for things like this in the CR, reducing the duplicate checks we currently have to do.

In this case we would need

[code]

I don't think this will eliminate all checks in other roles, but it will reduce things, addi

[2019-07-09 14:03] dustinblack commented on #144
@jtaleric So this might for instance convert any defined but empty variables from the CR into blank values ('') instead, so that the validation logic within the main role is simplified?

[2019-07-09 14:46] dustinblack commented on #144
Tested with simplified `if` logic:

[code]
And the results look good:

1. `pin_node` not defined: **passed**
2. `pin_node` defined with a valid node name (from oc get nodes): **passed**
3. `pin_node` defined but empty: **passed** << winning
4. `pin_node` defined as '': **passed**
5. `pin_node` defined as false: **passed** << winning

[2019-07-09 20:06] dustinblack commented on #141
I played with implementing this, but it introduces another problem of non-idempotence when ripsaw loops the role, causing new PVCs to be created each time.

[2019-07-09 20:08] aakarshg commented on #141
Looks like #105 needs to be prioritized, as it'll help address the problem that you've mentioned.

[2019-07-09 21:59] dustinblack commented on #141
Addressed in PR #147

[2019-07-09 22:02] dustinblack commented on #141
Partially addressed in PR #147. The the jobfile templates have been heavily cleaned up, which should lead to an easier job merging them.

[2019-07-09 22:03] dustinblack commented on #141
The jobname key was removed with PR #147

[2019-07-15 16:40] dustinblack commented on #144
Fixed with PR #145

[2019-07-15 16:40] #144 closed

[2019-07-22 15:10] dustinblack commented on #139
Completed with PR #154

[2019-07-22 15:10] #139 closed

[2019-07-22 15:11] dustinblack commented on #128
Fixed with PR #131

[2019-07-22 15:11] #128 closed

[2019-07-22 17:32] dustinblack opened #159 "Discussion: pin_server vs pin_node or other key name in CR"
We currently use the key `pin_server` across a few roles to identify the k8s node to which a pod or pods will be pinned with a `nodeSelector` in the template. I think the name of this key is a little confusing -- Since the value you pass to `pin_server` is a k8s node name to which you are pinning, on the surface I would argue that it should be called `pin_node` instead (which is what I used in the

[2019-07-22 17:34] aakarshg commented on #88
Closing this now, as this can be accomplished through the above mentioned manner.

[2019-07-22 17:34] #88 closed

[2019-07-22 17:37] aakarshg commented on #97
Closing this issue, as `wait_clean()` is not being used anymore following the merge of #120

[2019-07-22 17:37] #97 closed

[2019-07-22 17:42] aakarshg commented on #41
Closing this as Ripsaw is now published in operatorhub as an upstream community operator through operator-framework/community-operators/#481 and upstream operator through operator-framework/community-operators/#531

[2019-07-22 17:42] #41 closed

[2019-07-22 17:43] aakarshg commented on #30
Essentially a duplicate of #88 and thus can be closed down.

[2019-07-22 17:43] #30 closed

[2019-07-22 17:44] aakarshg commented on #31
Closing this as it's been decided to not have Ripsaw manage the resources required by other operators.

[2019-07-22 17:44] #31 closed

[2019-07-22 17:46] aakarshg commented on #46
This issue requires the last sub task mentioned in [the issue](https://github.com/cloud-bulldozer/ripsaw/issues/114#issuecomment-507401316) #114

[2019-07-22 17:49] aakarshg commented on #84
Closing this issue as Ripsaw can now be installed through operatorhub, which is a single command install - `kubectl create -f https://operatorhub.io/install/ripsaw.yaml`

[2019-07-22 17:51] aakarshg commented on #91
Closing this issue, given that smallfile was implemented in Ripsaw without the need for privileges to launch privileged pods. The workaround/issue was the mount path being set to `/tmp`.

[2019-07-22 17:51] #91 closed

[2019-07-22 18:50] aakarshg commented on #140
@bengland2 @jtaleric @dustinblack what do you think about the above mentioned methodology?

[2019-07-22 19:10] dustinblack commented on #84
Re-opening. The operatorhub integration can simplify some installs, but the repo structure should still be changed, IMO.

[2019-07-22 19:14] dustinblack commented on #140
I'm generally comfortable with this, but have only a minor concern when it may mean that hundreds or thousands of server pods are pre-spun, waiting for workloads initiated from the clients. If we think of these as just idle processes and ports, it doesn't seem like a major concern. But we could possibly get into impacts at the k8s api level or the large number of pre-created PVs that could skew th

[2019-07-22 19:27] bengland2 commented on #140
@dustinblack I don't see a problem in principle with starting up the servers, once.    fio servers don't generally consume significant resources unless a job is running.   But are we over-thinking it?   Let's just get it to run at all, then see whether this really helps elapsed time of the test.    In real world, you have to run fio jobs for long enough that the system reaches equilibrium and can'

[2019-07-23 17:23] dry923 commented on #71
Given many of the ci failures seem to be during wait for functions we could re-create a wait function that dumps a pods log file when a timeout occurs. Since we are using pipefail in the test scripts I do not think we can do a simple check against the return code. We instead could do something like:

Current command from test_ycsb.sh:
kubectl wait --for=condition=Complete jobs -l 'name=ycsb-load'

[2019-07-23 20:25] jtaleric commented on #71
*THIS*

Capturing more detailed debug code will help us triage _what_ went wrong.

[2019-07-24 19:48] jtaleric opened #162 "YCSB use multi-client load"
YCSB Supports creating multiple clients to load the database, we should look to implement this.

[2019-07-26 18:43] aakarshg opened #169 "[YCSB] make the load step optional"
Following merge of #149, ycsb load phase is not optional. It can be useful while rerunning same ycsb workloads, for testing/debugging purposes.

[2019-07-29 17:40] dry923 commented on #126
Merged in https://github.com/cloud-bulldozer/ripsaw/pull/167

[2019-07-29 17:40] #126 closed

[2019-07-31 10:05] e-minguez opened #173 "[RFE] Include object storage testing"
Such as https://github.com/jenshadlich/S3-Performance-Test

[2019-07-31 10:54] jtaleric commented on #173
We prefer cosbench today, happy to accept PRs!

https://github.com/intel-cloud/cosbench

[2019-08-12 19:52] aakarshg opened #179 "RFE: CI environments to use local registries"
We've been seeing exceptionally longer pull times to download images from Quay.io, so it'll be optimal if we could use a local registry. [Blog post](https://tortuemat.gitlab.io/blog/2018/03/18/kubernetes-with-local-registry/) shares more details on how it can be done.

By using a local registry, we'll be eradicating the issue around quay pulltimes and also the need for the insanely long timeouts o

[2019-08-12 20:36] bengland2 commented on #179
not only that but as we move to larger-scale openshift clusters (e.g. in public cloud), we don't multiply quay traffic by N, when we could just download it once to local cluster.    Wish we could load the image once into a ceph pool where it is accessible to everyone locally and directly and may even be cached in RAM, sort of like OpenStack glance.

Are you seeing flakiness *uploading* to quay.io?

[2019-08-13 23:57] sagyvolkov opened #182 "only initialization or only run workload flags"
for database workloads, like pgbench, sysbench or YCSB, it will be a good idea to allow a cr to only run the initialization part or just the actual workload.
The reason is that loading of the database can take long time, especially on large databases or on many small databases, and you don't want to go through this process on every run.

[2019-08-19 13:56] acalhounRH opened #188 "Documentation - Add explicit examples of how to execute, monitor, and review benchmark"
For a first time user of Ripsaw documentation was lacking detail with how to execute, monitor, and review benchmark results.

After Installing Ripsaw using OperatorHub, there wasn't documentation detailing  where/how to configure a benchmark, how to trigger the benchmark (how do I know it was successfully executed), how do I monitor the benchmark (how do I know my benchmark finished/successful), a

[2019-08-21 10:16] jtaleric opened #193 "Use reconciliation instead of long running tasks"
Hear me out ;-)

# Proposal
Each role we have (and going forward) would have:

- tasks/main.yaml
- tasks/running.yaml
- tasks/cleanup.yaml

`main.yaml` will be where we kick off the creation of the pods

`running.yaml` will be where the reconciliation *checks* the current state of things -- make sure the job has either completed or errored.

`cleanup.yaml` is where we clean the resources that are

[2019-08-22 18:06] dustinblack opened #197 "Add options for pre-/post-run scripts"
A user running a set of workloads may need to execute additional custom commands or scripts between test runs or iterations. We may have a library of such shared scripts, perhaps stored in the snafu repository, for reuse among different workloads. One major driver for this functionality is the need to drop system page cache and ceph OSD cache for any IO-centric workloads.

For flexibility, I would

[2019-08-22 19:35] dustinblack commented on #197
@bengland2 recommended that the scripts values should be a list so that multiple can be provided, and I tend to agree. So the structure would be more like:

[code]

[2019-08-22 19:39] bengland2 commented on #197
Do you want to include my clear-osd-caches.sh script in your PR?  This would be a good example of how to use the feature.

[2019-08-22 19:49] dustinblack commented on #197
Yes -- Even if it can't be used as-is, it will be a good starting point for a script to reference via snafu. We can get the script into snafu first, since it has no bearing on the operation of ripsaw, and then work on code as recommended here to reference it in the workloads.

[2019-08-22 20:06] dustinblack commented on #197
I'm struggling a bit with how we would implement this inside the sample/iteration loop. Samples are managed in the context of the workload pod that is actually executing the job -- this is either inside the snafu wrapper scripts itself or part of the ripsaw workload template, depending on the role. In either case, the logic for that innermost loop is within a non-privileged pod that doesn't have a

[2019-09-03 15:36] dry923 opened #210 "pgbench is not setting status to complete"
@jtaleric it appears that pgbench was either missed or not working with reconciliation.

[code]

[2019-09-03 15:44] dry923 commented on #210
disregard as it's noted in the README it is not implemented for reconciliation

[2019-09-03 15:44] #210 closed

[2019-09-13 14:18] jtaleric opened #219 "UPerf support Multus"
If Multus is available we should configure the pods to use Multus...

[2019-09-13 18:46] jeniferh commented on #219
Some thoughts...
Multus allows you to add additional interfaces by calling other network plugins, so we need both multus and the desired plugin available.

The CNI config CR needs to be created before hand. Depending on which network plugin you want to test, it may also require something to be configured on the node(s).
   CNI config CR ex. for macvlan plugin: https://docs.openshift.com/container-

[2019-09-13 18:53] jtaleric commented on #219
Right. The user would be required to setup Multus with whatever plugin they want to test.

Right, we would possibly need to add logic to get the IP address, as right now Rispaw will capture the pod IP not the plugin IP.

[2019-09-18 15:42] jeniferh commented on #219
Also should note, we need this multus bug fixed: https://bugzilla.redhat.com/show_bug.cgi?id=1732598
(there is a workaround in comment4 for testing)

[2019-09-19 15:40] aakarshg opened #226 "Move away from deprecated API groups"
Kubernetes 1.16 was released recently and the apis that were deprecated include `deployments` in `extensions/v1beta1` [1], which is currently being used for pgbench test script [2].

We should look at replacing it with `apps/v1` api.

[1] https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
[2] https://github.com/cloud-bulldozer/ripsaw/blob/master/tests/test_pgbench.sh#L42

[2019-09-20 17:26] bengland2 commented on #71
in minishift this command fails:
[code]
I prefer:
[code]
which does work in minishift and should work in the other ones too, right?

[2019-09-20 17:38] bengland2 opened #228 "minor nit: CI complains because 2 benchmark-operator pods in existence"
also this error occurs in CI, is most likely caused when previous incarnation of benchmark-operator is still terminating while the other one is running.   This doesn't seem to stop it from working, but should be easy to fix.

[code]

[2019-09-24 18:37] vasukulkarni opened #230 "can't open file 'smallfile_cli.py' - small file workload"
I am seeing following issue with small file workload, Also the "RUN STATUS DONE" should not be printed when we have errors.

[code]

[2019-09-24 18:38] jtaleric commented on #230
/cc @bengland2

[2019-09-24 18:46] jtaleric commented on #230
Looking through the code :
https://github.com/cloud-bulldozer/ripsaw/blob/master/roles/smallfile-bench/templates/workload_job.yml.j2#L31

Which this image is built from :
https://github.com/cloud-bulldozer/snafu/blob/master/smallfile_wrapper/Dockerfile#L9

Is the image somehow being overwritten?
https://quay.io/repository/cloud-bulldozer/smallfile

Can you launch a debug container and check for th

[2019-09-24 18:54] vasukulkarni commented on #230
@jtaleric Its goes pretty fast into completed state, the yaml shows following versions

[code]

[2019-09-24 20:00] #230 closed

[2019-10-01 19:46] bengland2 opened #233 "minishift CI - dumping logs does not work"
The "kubectl logs -l name=benchmark-operator ..." in error() subroutine in tests/common.sh does not work in minishift.

[code]
 If we're going to continue using minishift for CI (do we have to?), we have to either use lowest-common-denominator features or special-case minishift.

[2019-10-01 20:06] dry923 commented on #233
I just ran this on the minishift CI environment and it worked for me:

[code]

@bengland2 when you ran this was the operator running at the time?

[2019-10-10 16:05] #173 closed

[2019-10-17 12:17] ekuric opened #235 "mongodb test fails with default ripsaw_v1alpha1_ycsb_cr.yaml"
Mongodb started with

` oc create -f ripsaw_v1alpha1_ycsb_cr.yaml` with default  `ripsaw_v1alpha1_ycsb_cr.yaml` .

Pod will fail

[code]

[2019-10-17 12:40] jtaleric commented on #235
Valid bug : https://github.com/cloud-bulldozer/ripsaw/blob/master/resources/crds/ripsaw_v1alpha1_ycsb_cr.yaml#L22-L23

Missing closing "

[2019-10-21 09:45] jtaleric commented on #235
Fixed in PR 236

[2019-10-21 09:45] #235 closed

[2019-11-04 19:47] aakarshg commented on #36
This can be closed as we've implemented for certain workloads.

[2019-11-04 19:47] #36 closed

[2019-11-04 19:48] aakarshg commented on #46
This can be officially closed given that our CI runs against upstream k8s and okd ( as well as platform of minkube vs kni )

[2019-11-04 19:48] #46 closed

[2019-11-04 19:48] aakarshg commented on #47
addressed with #240 , closing this.

[2019-11-04 19:48] #47 closed

[2019-11-04 19:49] aakarshg commented on #56
This isn't necessary anymore given that all the resources created during a benchmark run are cleanly deleted the operator itself, hence closing this.

[2019-11-04 19:49] #56 closed

[2019-11-04 19:50] aakarshg commented on #71
@dry923 @jtaleric thoughts on this

[2019-11-04 19:51] aakarshg commented on #84
do we want to keep this open @dustinblack ? thoughts @jtaleric @dry923 , the structure is the one created through operator-sdk so i'd recommend we leave it as is, helps with using operator-sdk features to generate csv as well.

[2019-11-04 19:52] aakarshg commented on #86
This has been implemented with #238 i believe, @jtaleric can we close this ?

[2019-11-04 19:53] aakarshg commented on #233
@bengland2 @dry923 we no longer use minishift CI environment, so can we close this ? or is this an issue that's applicable to other issues as well?

[2019-11-04 19:54] bengland2 commented on #233
yes as far as I'm concerned.

[2019-11-04 19:55] aakarshg commented on #114
we can close this out officially as the CI environments are now stable ( minishift was the only PITA candidate )

[2019-11-04 19:55] #114 closed

[2019-11-04 19:56] aakarshg commented on #130
after the conversation earlier about pr #213 , this looks like outside scope of ripsaw, and more specific to snafu so closing this out.

[2019-11-04 19:56] #130 closed

[2019-11-04 19:57] aakarshg commented on #141
@dustinblack do we have still have to check off any of the mentioned improvements ?

[2019-11-04 19:58] aakarshg commented on #159
@dustinblack any further progress on this ? I think we can close this out because it's not an issue per se. @jtaleric @dry923 thoughts?

[2019-11-04 20:01] aakarshg commented on #179
I think we can close this out, given that we haven't seen any issues so far with quay pull times?? @dustinblack @jtaleric @bengland2 @dry923 thoughts on this?

[2019-11-04 20:08] bengland2 commented on #84
my thought is that Snafu is somewhat related to this.   All my changes of late have been to snafu and not ripsaw.   And all the CRs I need are consumed primarily by snafu and ripsaw pretty much just passes them through.   As far as ripsaw deployment, it is a 2-step process defined by running [this script ](http://perf1.perf.lab.eng.bos.redhat.com/pub/bengland/public/openshift/ripsaw/oc-install.sh

[2019-11-04 20:34] aakarshg commented on #182
closing this as it's a duplicate of #169

[2019-11-04 20:34] #182 closed

[2019-11-04 20:34] aakarshg commented on #219
can we close this out @jtaleric ? given we've the multus stuff added to uperf?

[2019-11-04 20:35] aakarshg commented on #228
@dry923 want to take this on?

[2019-11-04 20:46] bengland2 commented on #233
No I meant you can close it.  BTW my minikube client kubectl is v0.16

[2019-11-04 20:47] aakarshg commented on #233
ooh okay cool sorry for confusion, thanks @bengland2

[2019-11-04 20:47] #233 closed

[2019-11-04 20:48] bengland2 commented on #179
@aakarshg not a problem lately.

[2019-11-04 20:49] aakarshg commented on #179
alright @bengland2 closing this out to clear the clutter, can reopen later if needed. thanks

[2019-11-04 20:49] #179 closed

[2019-11-04 20:52] bengland2 commented on #71
minishift is dead.   So I think our lowest common denominator became KNI and this shouldn't be an issue anymore?

[2019-11-04 20:55] aakarshg commented on #71
I think the issue was more around collecting logs and other information to help us find the problem with pr, which i think we've some or most of it in place but i'm not sure if it's enough to close this out altogether?

[2019-11-06 19:46] aakarshg opened #245 "RFE: Make sure that crs are backwards compatible across a version"
Currently crs are not backwards compatible at all, meaning that a cr that works with master branch today isn't guaranteed to work tomorrow ( if the master branch of ripsaw changes say with #218 getting merged uperf cr's need a new key in the cr ).

Given that master is fast moving, it probably is okay. However, this would also mean that the cr that worked with 0.0.1 branch of ripsaw isn't gonna wo

[2019-11-06 19:47] aakarshg commented on #245
@bengland2 @jtaleric @jeniferh @dry923 @dustinblack @chaitanyaenr thoughts on this?

[2019-11-06 20:23] bengland2 commented on #245
I don't think this is a valid RFE.  It's impossible to guarantee in benchmark-independent parts of  ripsaw that CRs are backwards compatible - that depends on the benchmark implementation, where the CRs are interpreted.   It should be *possible* to implement backwards compatibility for CRs in a ripsaw benchmark, but I think it already is.

[2019-11-06 20:44] jtaleric commented on #245
My suggestion is simple but might be complex.

The initial definition of a workload CR (once deemed Stable) should always be backwards compatible if new `key:value`'s are introduced.

For example, UPerf has been pretty stable, however we introduced a new key, `kind`. For everyone who was using UPerf, that attempted to run their previous generation CR. The result was failure. Simple due to this new

[2019-11-06 20:51] bengland2 commented on #245
Yes, if you add new keys to your CR yaml, you can always define a default value for the new keys, and old CRs can take advantage of these default values to execute without change.   That's up to the benchmark implementer.  The example CR provided in github for the benchmark could include comments defining what the default values are.

[2019-11-06 21:07] aakarshg commented on #245
Making sure that CRs are always backwards compatible would mean testing all the possible variations of a cr against each version of ripsaw ( because like Joe said what if the user maintains their own cr ? ) and ensuring the output is similar. This not only adds complexity while writing code especially adding new features but also has the additional testing overhead mentioned above during releases.

[2019-11-08 22:00] dustinblack commented on #141
Updated the list in the OP, and everything has been resolved except "Need to consider how a RWX PV would be tested."

I think if you provided an RWX volume right now, things would break. It's worth a test and a discussion about whether this is a feature we need.

[2019-11-08 22:02] dustinblack commented on #159
This is just a point on consistency across CRs, which IMO is important to reduce user confusion. Nothing's broken, clearly, but it's still an issue that maybe an intern could pick up.

[2019-11-11 18:56] aakarshg commented on #182
@sagyvolkov just letting you know that I've opened #247 to address this issue. Please let me know if this would suffice or would you like any additional changes/ or open to suggestions.

[2019-11-19 11:59] mkarg75 opened #250 "RFE: Inclusion of a test suite for the MIG operator"
We have the MIG operator (https://github.com/fusor/mig-operator) for migrations typically between OCP3 and OCP4. It'd be handy to have that as another flavour in ripsaw in order to keep continuous tests for every release.
Right now I'm not sure how far we can actually push this as it includes the generation of projects on the source cluster (something we'd need to define in terms of pods / PVs / s

[2019-11-26 20:00] bengland2 opened #252 "fio benchmark test makes minikube unresponsive"
version: today's master branch of snafu and ripsaw
Fedora 30, minikube version: v1.4.0

when I run
[code]
from a freshly installed minikube and a freshly installed ripsaw, it times out with this error:
[code]
and minikube becomes unresponsive for any command accessing the kube api, such as "kubectl get nodes".   This has nothing to do with run_snafu.py, because minikube should not become unrespons

[2019-11-26 21:23] bengland2 commented on #252
some of it was UBD, I was using minishift client with minikube server, I switched to minikube now, and gave the VM 8 GB RAM, it still fails but minikube does not become unresponsive.  Rerunning test_fiod.sh now without deleting CRs at the end so that I can see what was going on.

[2019-11-26 21:25] bengland2 commented on #252
And 2nd time I ran test_fiod.sh, it ran successfully, so I'm closing this.   Maybe first time it fails because some quay.io thing fails to load fast enough?

[2019-11-26 21:25] #252 closed

[2019-11-27 18:33] aakarshg opened #254 "RFE: Helm chart for deploying benchmark operator"

[2019-12-04 20:14] mohit-sheth opened #256 "Added the UUID label to uperf service template"
To match with the server.j2.yml - https://github.com/cloud-bulldozer/ripsaw/blob/d24383b53d27b0106b4f5b2114c96aa9929f0a9b/roles/uperf-bench/templates/service.yml.j2#L8 needs to be replaced with `app : uperf-bench-server-{{item}}-{{ trunc_uuid }}`

[2019-12-04 20:29] #256 closed

[2019-12-10 16:09] aakarshg opened #257 "RFE [FIO] Test clock=gettimeofday for getting absolute timestamps"
Test if using clock=gettimeofday will help with getting absolute timestamps.

[2019-12-11 18:13] aakarshg opened #258 "RFE [Uperf] Add svc to svc"
Ripsaw currently supports svc to pod for Uperf, will also need to support svc to svc.

[2019-12-11 20:23] aakarshg commented on #257
@bengland2 and @acalhounRH have you tried this and was wondering if there's any potential gotchas or impact to the testing process  if we used clock=gettimeofday

[2019-12-11 21:41] bengland2 commented on #257
@aakarshg  https://fio.readthedocs.io/en/latest/fio_doc.html see clocksource parameter and the tradeoffs written about there.   Inside VMs, gettimeofday() can be very expensive (has to go through to the hypervisor) and can even result in massive clock skew in VMs if there are enough of them.

[2020-01-15 15:38] bengland2 opened #272 "CI minikube version too old"
@dry923  could you comment on this?  On aramis CI host, the minikube version is too old, I think.  A[ more current version of minikube is 1.6.2](https://github.com/kubernetes/minikube/releases) .  What version should we be using?

the aramis host was the CI node referenced in the jenkins job log for minikube_jjb CI test environment.

$ ssh root@perf-sm5039-4-8.perf.lab.eng.rdu2.redhat.com
root@per

[2020-01-16 17:56] bengland2 commented on #272
@dry923 OCP 4.3 uses kube 1.16, *way* ahead of where CI is above.

[2020-01-16 19:32] bengland2 commented on #272
[minikube 1.5.2](https://github.com/kubernetes/minikube/releases/tag/v1.5.2) has K8S 1.16.2, which should be compatible with OCP 4.3, so this seems like a good place for the CI to be running, right?

[2020-01-16 19:50] dry923 commented on #272
@bengland2 agreed. I'll look to get it updated. on the various ci boxes.

[2020-01-20 19:25] dry923 commented on #272
@bengland2 updated Snafu and Stockpile CI. Will look to get Ripsaw done in the next day or so

[2020-01-20 19:25] dry923 commented on #272
[code]

[2020-03-04 19:28] #87 closed

[2020-03-04 19:28] #111 closed

[2020-03-04 19:28] #143 closed

[2020-03-04 19:28] #119 closed

[2020-03-04 19:28] #140 closed

[2020-03-04 19:28] #162 closed

[2020-03-04 19:28] #169 closed

[2020-03-04 19:28] #188 closed

[2020-03-04 19:28] #197 closed

[2020-03-04 19:28] #86 closed

[2020-03-04 19:28] #84 closed

[2020-03-04 19:28] #219 closed

[2020-03-04 19:28] #228 closed

[2020-03-04 19:28] #226 closed

[2020-03-04 19:28] #245 closed

[2020-03-04 19:28] #159 closed

[2020-03-04 19:28] #71 closed

[2020-03-04 19:28] #141 closed

[2020-03-04 19:28] #254 closed

[2020-03-04 19:28] #250 closed

[2020-03-04 19:28] #258 closed

[2020-03-04 19:28] #257 closed

[2020-03-04 21:08] aakarshg commented on #272
Can this be closed @dry923

[2020-03-05 13:29] dry923 commented on #272
Minikube updated in Ripsaw CI now as well. Closing.

[2020-03-05 13:29] #272 closed

[2020-03-10 16:55] jtaleric opened #292 "ServiceIP resource capture is missing"
ServiceIP is a resource that needs to be captured outside of any of the UPerf blocks.

[2020-03-10 18:55] #292 closed

[2020-04-04 22:32] acalhounRH opened #301 "RFE Add optional fill job to fio workloads"
When testing OCS it is ideal that the cluster is at 50% of its capacity to get stable/consistent results, due to the way ripsaw is currently implemented users do not have the ability to do this.

Ideally If the option is enabled, an extra write job would be included that would precede the user specified test and would not include runtime allowing it to fill the cluster before the user job files.

[2020-04-06 13:45] bengland2 commented on #301
@acalhounRH  s/proceed/precede/.  I think you should require that the RBD volumes be pre-written to get stable, consistent results.   I don't think you should always require the cluster to be at 50% of capacity - this can take a REALLY LONG TIME.   And you can get stable, consistent results without 50% of capacity being used.      That's a separate issue - at some point we should measure performan

[2020-04-06 14:54] acalhounRH commented on #301
ACK

Filling up the cluster to a specific percentage is/should be based on users setting the volume size and number of servers. that being said I agree that we should hard code the fill to 4MB and O_DIRECT=1.

suggested job file would be:

[global]
    directory={{fio_path}}
    filename_format=f.\$jobnum.\$filenum
    clocksource=clock_gettime
    kb_base=1000
    unit_base='8'
    ioengine=libai

[2020-04-15 16:24] ddomingu opened #312 "Connecting to a Elasticsearch with TLS self-signed certificates do not work"
Hi,

Currently ripsaw is not capable to connect to an Elasticsearch server deployed using TLS self-signed certificates.

2020-04-15T12:29:18Z - WARNING  - MainProcess - run_snafu: Elasticsearch connection caused an exception :Root certificates are missing for certificate validation. Either pass them in using the ca_certs parameter or install certifi to use it automatically.

Regards.

[2020-04-15 17:41] bengland2 commented on #312
good point.   Someone should go to letsencrypt.org and get one.

[2020-04-15 17:57] aakarshg commented on #312
Hi @ddomingu thanks for pointing this out, that's right today ripsaw isn't capable of using TLS self-signed certificates.

Ripsaw invokes benchmark specific wrapper in [snafu](https://github.com/cloud-bulldozer/snafu/) for parsing benchmark output and indexing data to elasticsearch. Given that, ca_certs will expect the certificate path to be present, there'll be changes needed to ripsaw to attach

[2020-04-20 17:53] aakarshg commented on #312
@ddomingu can you PTAL at @rsevilla87's PR - https://github.com/cloud-bulldozer/snafu/pull/169 and see if this will be okay for you to skip tls cert verification ? That'll be an easy workaround, however the pr wont be useful at all, if you'd actually prefer verifying with the certs.

[2020-04-20 18:18] ddomingu commented on #312
@aakarshg yes with that is more than enough thanks! Verifying certs would be far more complex as the certificate CA should be shared attaching a new configmap to ripsaw. With this PR my issue is fixed, thanks! @rsevilla87++

[2020-04-21 17:12] bengland2 commented on #301
I've been testing with prefill: true and it's the only way to go for a large test, otherwise you get fio doing writes to the entire drive 4-KiB at a time with O_DIRECT, which is horribly slow.    No other way for OCS testing.  I'm about to submit a PR to change fio CRs to expect prefill: true , so sequential writes can be done time-based rather than for entire volume, and even if samples: 3 is use

[2020-04-22 13:33] acalhounRH commented on #301
The prefill job is not tied into samples, I believe we just need to update the example fio CR such that prefill: true

[2020-04-22 14:30] acalhounRH commented on #301
@aakarshg are we okay with closing this issue?

[2020-04-22 14:44] aakarshg commented on #301
closed through #302

[2020-04-22 14:44] #301 closed

[2020-04-22 21:17] mohit-sheth opened #317 "Bug: Host network is not allowed to be used spec.initContainers[0].securityContext.hostNetwork:"
The client pods are not created and the uperf-client job reports
[code]
the metadata_collection is set to true by default in the plow scripts

@dry923 @jtaleric

[2020-04-23 12:31] dry923 opened #319 "Ripsaw CI instantly completing first CI test"
We are frequently seeing instant completion of the first CI test that ripsaw runs. An example from Jenkins looks like

[code]

[2020-04-23 16:50] #319 closed

[2020-04-24 14:11] #317 closed

[2020-04-28 17:02] bengland2 opened #324 "smallfile benchmark still requires es_index in CR"
in resources/crds/ripsaw_v1alpha1_smallfile_cr.yaml there is no es_index field and the CR fails, but if you include es_index: ripsaw-smallfile as done in the tests/test_crs/valid_smallfile.yaml, the CR works.   This field should not be necessary, have to fix in snafu/smallfile_wrapper/

[2020-04-29 16:48] shekharberry opened #325 "Distributed FIO: Kernel cache needs to be dropped on OSD hosts for accurate perf numbers"
Distributed FIO reports abnormally high Read IOPS for random workload. It's reading most of data from Kernel cache with hardly any IO activity on the OSD (disk) in the backend.

I have 3 node Openshift Container Storage cluster with 1 OSD in each node. OSD is hosted on a disk in Azure VM which is capable of delivering 7.5K IOPS. Since we have 3 nodes the max IOPS we can get is 7500 * 3 = 22.5K IOP

[2020-04-29 18:14] aakarshg opened #327 "RFE: Cerberus checks between iterations of same benchmark"
This is a followup to #323, to utilize the cerberus integration between the iterations of a benchmark run. So ideally for uperf this would be a check to the cerberus endpoint somewhere at https://github.com/cloud-bulldozer/ripsaw/blob/master/roles/uperf-bench/templates/workload.yml.j2#L88

[2020-04-29 19:59] jtaleric commented on #325
@bengland2 @acalhounRH Can you two weigh in?

My initial take is that this doesn't belong in Ripsaw, as Ripsaw only orchestrates workloads, and shouldn't be aware of the backend storage for example.

In contrast, Ripsaw doesn't know about Multus, however if you want Ripsaw to use Multus, you can provide the annotations to take advantage of them.

Thoughts?

[2020-04-29 20:30] bengland2 commented on #325
I agree that ripsaw itself doesn't need to know about cache dropping.    But it should be possible for fio benchmark to know how to do it.    Specifically, it has to do cache dropping on all hosts where the Ceph OSDs run, not the hosts where the pods run (which may be very different).   The ripsaw fio pods are all doing O_DIRECT I/O so they should not be affected by cache dropping anyway.   I thin

[2020-04-29 22:41] jtaleric commented on #325
Might make sense to add it to, https://github.com/cloud-bulldozer/marshall-plan which could deploy the daemonset prior to running ripsaw FIO? Thoughts?

[2020-04-30 04:29] manojtpillai commented on #325
I didn't get the distinction, kubuculum does it differently how? kernel caches there are dropped via a daemonset of privileged pods, with a node label specifying where the pods should run:
https://github.com/manojtpillai/kubuculum/blob/7da7c5266637b08a494d8bc116f187215d89ade1/roles/stats_sysstat/tasks/drop_caches.yml#L12

And ceph caches are dopped via the rook-ceph tools pod: https://github.com/m

[2020-04-30 20:32] dry923 commented on #327
@aakarshg I started working on this. Some interesting issues I've come across so far. An example from the fio client template inside it's for loop

[code]

This works and stops the pod in its tracks. However, this doesn't necessarily stop the pod from getting restarted. In some tests I ended up with this:

[code]

Additionally, since my test simply involved killing the etcd pod (which restarts rat

[2020-05-19 16:03] keesturam opened #344 "[FIO]: Elasticsearch index 'ripsaw-fio-analyzed-result' doesn't record the std-deviation for randomread and randomwrite"

[2020-05-19 16:15] aakarshg commented on #344
Hi @keesturam, can you please open the issue on https://github.com/cloud-bulldozer/snafu/ ? Because that's where the fix will have to land. Thanks

[2020-05-19 16:46] aakarshg commented on #344
closed in favor of https://github.com/cloud-bulldozer/snafu/issues/180

[2020-05-19 16:46] #344 closed

[2020-05-28 20:14] aakarshg opened #354 "RFE: get the prometheus bearer token through ripsaw setup playbook"
``` oc -n openshift-monitoring sa get-token prometheus-k8s```

[2020-06-03 10:54] mykaul opened #358 "Update fio to a newer version."
It's not clear to me where the fio binary is coming from, but it's 1.5 years/old (3.12).
Looking at https://quay.io/repository/cloud-bulldozer/fio/manifest/sha256:4f1fa8a2fc9d39ea843af6e5fed4f77e41af116df92acd8fcc64bb96d2e4f74e?tab=layers it seems it's just a binary copied over?

[2020-06-03 11:03] rsevilla87 commented on #358
Hey @mykaul , we compile and copy the binary when we build the container. Find the code here
https://github.com/cloud-bulldozer/snafu/blob/master/fio_wrapper/Dockerfile#L4-L5

I'd say that you are using a wrong image tag for fio because the latest one is built with fio-3.19
[code]

[2020-06-03 11:19] mykaul commented on #358
ACK - I mixed up different containers - the one I've looked at was installing an fio. This one is good.

[2020-06-03 11:19] #358 closed

[2020-06-03 11:20] mykaul commented on #358
(Now that I look at the Dockerfile - unsure why we compile fio and not just install it from RPM...)

[2020-06-03 15:18] rsevilla87 commented on #358
Hey @mykaul, Fio is not present at ubi8 official repositories. In the other hand, container building is performed by quay and CI, and CI doesn't use layer caching.

Anyway, feel free so submit some PR to optimize Dockerfiles. Thanks!

[2020-06-22 11:32] bengland2 opened #363 "all uperf clients on 1 host - anyone else seen this?"
After running [this uperf CR](http://perf1.perf.lab.eng.bos.redhat.com/pub/bengland/tmp/ocp4/ripsaw/uperf-no-multus.yaml), I get all the clients on 1 node.  Same behavior with[ the example uperf CR](https://github.com/cloud-bulldozer/ripsaw/blob/master/resources/crds/ripsaw_v1alpha1_uperf_cr.yaml) changing pairs from 1 to 20.
[code]

[2020-06-22 11:47] jtaleric commented on #363
Can you describe a client pod and share it here @bengland2 ?

[2020-06-22 12:10] bengland2 commented on #363
here you go, it happened again with the example ripsaw CR changing pairs to 20 from 1.   One thing that was weird, "AddedInterface" line from multus even though multus was disabled in the CR.   Will try deleting the NAD and then re-run.

[code]
and a typical client pod:

[code]

[2020-06-22 12:16] bengland2 commented on #363
It seems to be repeatable that no servers were placed on worker-01, and all the clients were placed there.   This is anti-affinity but not what I want.   What I want is that for a given pair, the client and the server should not be on the same node, but all clients and servers are spread evenly across the available nodes.   This would be similar to the Ceph behavior that OSDs in placement groups a

[2020-06-22 12:48] bengland2 commented on #363
I removed the anti-affinity section from roles/uperf/templates/workload.yml.j2 and now I get something slightly better but still not wonderful:
[code]

the server is still not placing pods on worker-01.

[2020-06-22 12:54] bengland2 commented on #363
I tried fixing it to put client and server pod in each pair on separate nodes, using:
[code]
But this did not work.  The intent is that we create anti-affinity between uperf-client-N and uperf-server-N, and there appeared to be an app label for this defined in the server.yml.j2, but I could be wrong.  This is closest I can get to what I want to happen.   here is the label created for the server:

[2020-06-22 15:39] dry923 commented on #363
@bengland2 I figured out why your fix failed. {{ item }} in this case is actually server_pods.resources so its not just a number.

I changed the antiAffinity rule to this and it successfully launched the worker pod. Give this a try and let me know if it works better

[code]

[2020-06-22 20:19] bengland2 commented on #363
@dry923 yup that worked!!  I think we could make this into a PR, I think it's generally what people want to do unless they specify client_pin or server_pin.   So I added one little thing to it that allows me to easily verify that anti-affinity is working:

[code]

Sadly this makes for long names, like
[code]
But I was able to verify that anti-affinity worked perfectly - every client was on differe

[2020-06-23 13:32] dry923 commented on #363
@bengland2 Glad to see it worked! Short of re-writing some of the uperf role there really isn't an easy way to get the actual integer. What do you think about adding a label called clientfor or something that contains  item.metadata.labels.app? That way you can easily check and it wouldn't inflate the names.

[2020-06-23 13:36] dry923 commented on #363
@bengland2 I spun up this PR for the issue https://github.com/cloud-bulldozer/ripsaw/pull/364

[2020-06-23 19:36] #363 closed

[2020-07-01 13:29] dry923 commented on #324
@bengland2 this looks to have been resolved based on my testing

The es_index variable has a default set
[code]

We should remove the redundant line from the test cr but it does not hurt anything. Can you confirm this is good?

[2020-07-03 19:09] #312 closed

[2020-07-13 10:36] bengland2 commented on #325
am working on a solution to this problem involving privileged pods specifically for cache dropping, invoked by GET on URL.

[2020-07-14 14:20] #327 closed

[2020-07-22 00:00] jtaleric commented on #324
@bengland2 ?

[2020-07-22 13:55] bengland2 commented on #324
Will clean this up later.

[2020-07-22 13:55] #324 closed

[2020-07-24 17:20] bengland2 opened #374 "re-learning how to use CI"
I'm trying to run my PR through the CI using minikube and the CI tests do not pass, even with the master branch.     Is it because I'm using the wrong version of things?  See:

https://pastebin.com/fZbq14xS

is v1.18 too advanced???   The initial error is:

[2020-07-24 17:21] bengland2 commented on #374
sorry I meant to include:

+ kubectl apply -f resources/crds/ripsaw_v1alpha1_ripsaw_crd.yaml
The CustomResourceDefinition "benchmarks-7261bebf-b554-4e7c-80e3-fdab53ed798d.ripsaw.cloudbulldozer.io" is invalid:

[2020-07-24 17:36] dry923 commented on #374
@bengland2 thanks for brining this up. I haven't seen it in my testing. The new ci systems are versions:
[code]

So if anything your client version is a touch behind at v1.18.0. Any chance you can update it and try again?

[2020-07-24 18:23] bengland2 commented on #325
@shekharberry am re-opening, have the following PRs working
https://github.com/bengland2/bohica/tree/kernel-cache-drop
https://github.com/cloud-bulldozer/snafu/pull/196

and this branch works but I have to rebase before making it a PR:
https://github.com/bengland2/ripsaw/tree/fio_drop_kernel_cache

Raul helped me figure out how to pass the pod IPs to fio client pod

[2020-07-26 07:59] Avilir opened #375 "Run FIO without Histogram"
When running FIO on large dataset (~ 40% of storage capacity (800 GB out of 2TB Storage)  with ~50 pods total, it is look like the Histogram data not collecting well, and it prevent from the test sun "smoothly".
it be nice to have parameter in the CRD file which enable/disable  the collection of the histogram data.
For my understanding, changes need to be made in the file :  roles/fio_distributed/

[2020-07-27 00:04] jtaleric commented on #375
cc @bengland2 @acalhounRH

@Avilir Do you have a logfile from the run you can share that shows why it didn't run smoothly? Disabling should be possible, however, we should understand why it is failing.

[2020-07-27 06:19] Avilir commented on #375
@jtaleric , since the test ran via the QE automation (ocs-ci), the only log example that i have is (in this example the test need to have 3 samples and only 1 finished) :
`[global]
directory=/mnt/pvc
filename_format=f.\$jobnum.\$filenum
write_bw_log=fio
write_iops_log=fio
write_lat_log=fio
write_hist_log=fio
log_avg_msec=2000
log_hist_msec=2000
clocksource=clock_gettime
kb_base=1000
unit_base=8
io

[2020-07-27 17:56] bengland2 commented on #374
I did as you asked.   Now the tests/test_fiod.sh runs but when I try to use master branch and a sample CR from :+1:

resources/crds/ripsaw_v1alpha1_fio_distributed_cr.yaml

I get failure shown at:  https://pastebin.com/cR6E61U3

which is fio core dumping immediately after fio --server is started.

[2020-07-27 19:53] bengland2 commented on #374
and it's the fio image:

[bengland@localhost ripsaw]$ oc run --rm -it --image quay.io/cloud-bulldozer/fio:latest foo
If you don't see a command prompt, try pressing enter.

[root@foo /]# which fio
/usr/local/bin/fio

[root@foo /]# fio --server
Illegal instruction (core dumped)

and for more details:

[root@foo /]# gdb fio
GNU gdb (GDB) Red Hat Enterprise Linux 8.2-11.el8
Copyright (C) 2018 Free So

[2020-07-28 19:56] bengland2 commented on #374
so I went and built my own fio image using master branch of snafu, and this one doesn't do what happened above, it works fine.   Fortunately I can substitute my own image for what's in quay.io/cloud-bulldozer using workload_args.image parameter.  Am working with that for now.

[2020-07-29 01:11] bengland2 commented on #374
I still get errors because of kb_base=1000 in job file.   kb_base=1000 is a really bad idea because most fio job files today are written *assuming* power-of-2 I/O sizes and because O_DIRECT *requires* power-of-2 I/O sizes.  When  I took that out, the errors stopped.

[2020-07-29 02:22] bengland2 commented on #325
@shekharberry starting to work.  https://pastebin.com/ydyEf6Je

[2020-07-29 05:29] shekharberry commented on #325
Thank you Ben for looking into this so proactively. I will give it a try
and let you know if I have any questions.

--Shekhar

On Wed, Jul 29, 2020, 7:53 AM Ben England <notifications@github.com> wrote:

[2020-07-31 15:09] bengland2 commented on #325
@shekharberry , [ripsaw PR 378 ](https://github.com/cloud-bulldozer/ripsaw/pull/378) is the PR for fio to drop cache.   It is not merged yet, but I've run it on a very small scale, needs more testing on a larger scale.   This does not drop Ceph OSD cache - although there is some latent support already for that.  Once I get this one done, I'll do similar thing with Ceph cache dropper and then you s

[2020-08-04 15:54] ekuric opened #381 "With multiple jobs ( numjobs ) only one job writes requested file size ( filesize )"
When running fio with multiple jobs below anomalies are visible
- fio jobs are not running in paralllel
- only first fio job writes `filesize` and jobs after do not write requested `filesize`

Test with single job `numjobs` is [here](https://gist.githubusercontent.com/ekuric/a447de4f94438d942cd0d2634a97c317/raw/bd252d6a7190d72ff0a5840130b91fcd76b02788/gistfile1.txt) test finsihed, file size is `fi

[2020-08-04 15:56] ekuric commented on #381
//cc @bengland2 @shekharberry @acalhounRH fyi

[2020-08-04 16:21] ekuric commented on #381
@shekharberry pointed that 3 jobs each writting 2 GB file cannot fit on 5 Gi storage size, still it should fail and successfully finish.

[2020-08-04 16:26] ekuric commented on #381
tried with storage size of 20 GB, test finished, but not all jobs wrote requested `filesize`

[code]

[2020-08-05 05:23] ekuric commented on #381
`write_runtime` is short in default configuration, I change it to 300s and tried 5 jobs in 3 servers, ... still not working, trying without `write_runtime`

 # oc get pods
NAME                                    READY   STATUS      RESTARTS   AGE
benchmark-operator-64f64fb759-9zmm2     3/3     Running     0          17h
fio-client-31e281aa-957dh               0/1     Completed   0          5m39s
f

[2020-08-05 05:30] ekuric commented on #381
with removed `write_runtime` and below workload file, fio-server pods are not starting

[code]

[2020-08-05 06:27] ekuric opened #382 "Running fio benchmark without `runtime` option is not working."
[fio](https://linux.die.net/man/1/fio) `runtime` option specifies how long specific operation will run, in `ripsaw_v1alpha1_fio_distributed_cr.yaml` we have `write_runtime` and `read_runtime`.
If we want to run test without runtime option ( eg. remove write_runtime from cr ) , ie. letting test to run as long it is necessary to write desired file it will not work - [workload](https://gist.githubuse

[2020-08-05 06:27] ekuric commented on #382
/cc @bengland2 @shekharberry @acalhounRH

[2020-08-05 06:50] rsevilla87 commented on #382
Hey @ekuric, removing all references to run time should do the trick:
[code]

[2020-08-05 07:25] ekuric commented on #382
Maybe we have to distinguish `radndwrite_runtime` `randrw_runtime` and `write_runtime` as having anywhere in cr file `workload_args.read_runtime ` will leave it to hang. Same for `read_runtime`

[2020-08-06 13:01] keesturam opened #384 "FIO benchmark fails with error "'dict object' has no attribute 'podIP'""
While running the FIO benchmark I see the following error. This test had passed earlier, so I believe some recent change is affecting the FIO benchmark.

Error:

[code]

CRD file used for the test:
[code]

[2020-08-06 13:16] dry923 commented on #384
@keesturam can you give us a little more information about what is happening when you try to execute the workload? Do any of the server or client pods spin up or does it fail to even get that far? Also can you please provide the output of when it gets to the failure point?

[code]

[2020-08-06 13:35] keesturam commented on #384
Sure, The fio server pods go into the error state altogether.

[code]

[code]

[2020-08-06 13:55] jtaleric commented on #384
Known issue due to the build of FIO. We are looking into a solution.

[2020-08-06 13:55] dry923 commented on #384
@keesturam Thanks for the information. What is the underlying infrastructure you are running on?

[2020-08-06 15:02] keesturam commented on #384
I'm running the test on AWS.

[2020-08-06 15:21] jtaleric commented on #384
https://github.com/cloud-bulldozer/snafu/pull/200 is now merged... https://quay.io/repository/cloud-bulldozer/fio?tab=builds is rebuilt. Please retest @keesturam

[2020-08-07 01:18] keesturam commented on #384
It works now. closing the issue.

[2020-08-07 01:18] #384 closed

[2020-08-10 22:19] #354 closed

[2020-08-12 01:06] bengland2 opened #386 "fio fails with Invalid Argument due to invalid buflen for O_DIRECT"
I'm seeing this error from fio client log.

[code]

It is caused by using O_DIRECT with a buflen of 4000, a no-no (must be power of 2, I think 4096 or more).   The root cause appears to be kb_base=1000 in the jobfile.   When I force kb_base=1024 then it's happy again.

[2020-08-12 10:53] rsevilla87 commented on #386
What block size size you use?. @mulbc had a similar issue that fixed with was fixed with https://github.com/cloud-bulldozer/ripsaw/pull/376

[2020-08-12 12:31] mulbc commented on #386
Indeed! Check out this section of the Readme:
https://github.com/cloud-bulldozer/ripsaw/blob/master/docs/fio_distributed.md#understanding-the-cr-options

And set your blocksize to `4KiB` instead of `4k` and everything should work

[2020-08-12 13:54] bengland2 commented on #386
ok, never mind, was just an old CR that was throwing things off.

[2020-08-12 13:54] #386 closed

[2020-08-13 06:19] piyushgupta1551 opened #387 "Need to add ppc64le images for ripsaw workloads"
Need to add ppc64le images for ripsaw workloads so that this repo support both x86 and ppc64le archs by default.
Travis Support (Would need a possible discussion) can be a possible way ahead. Changes would be needed to snafu/benchmark-wrapper (https://github.com/cloud-bulldozer/benchmark-wrapper) and ripsaw/benchmark-operator (https://github.com/cloud-bulldozer/benchmark-operator) repositories.

[2020-08-18 13:57] acalhounRH opened #389 "Add CR parameter for turning on debug loggin for benchmark-wrapper"
Currently we do not support the ability to enable debug logging for benchmark-wrapper via the CR file. Adding this ability will give users and developers the ability to enable/disable debug logging without having to rerun workload manually.

[2020-09-16 14:43] bengland2 opened #407 "CI editing of source code not intuitive"
It's not obvious to non-insider benchmark developers that there is significant editing of source code by the CI.   This is done in order to run various benchmarks in parallel to speed up CI, which is very useful, but developers have to be sure that the CI knows how to edit their particular source code to make changes like my-ripsaw -> my-ripsaw-$UUID .   What is the complete set of changes that th

[2020-09-16 14:43] bengland2 commented on #407
same for benchmark-wrapper CI, and is the editing the same?

[2020-09-16 15:14] bengland2 opened #408 "check_es.py gets privilege error when run from my laptop"
When I try to run tests/test_fiod.sh from my laptop, I get the error in [this pastebin](https://pastebin.com/ua9v3S8p).  The relevant part is
[code]
So there was a call added to tests/check_es.py
[code]
That is causing this error (Thx @jtaleric ).   The line was added by @rsevilla87 .   When you remove this line, the test passes.   However, this is not in the equivalent benchmark-wrapper/ci/check_

[2020-09-16 15:42] dry923 commented on #408
@bengland2 So a few comments in no particular order:
- The benchmar-wrapper/ci/check_es.py script is no longer used. We currently only use the one in benchmark-operator. I can take an AI to remove the old file and function.
- The refresh was added because we were constantly getting failures from the check script because the data wasn't available in ES yet. By adding that command it consistently wo

[2020-09-16 15:47] rsevilla87 commented on #408
@bengland2 you're using the check_es.py with the production ES instance and this script is meant to be used from the CI.

[2020-09-16 17:02] bengland2 commented on #408
again, it doesn't say in the docs.   We need to tell developers how they are supposed to do this.  I searched a CI log and found:
[code]
That hardly looks like it's cast in stone.   where does this come from?   So how are people supposed to know?   Are they supposed to set up their own ES server or use this one?   When setting up an ES server, what is the relevant privilege that they need to add?

[2020-09-16 17:18] jtaleric commented on #408
IMHO, yes. Users outside of RH should be deploying and maintaining their own ES server.

No. A default ES setup would basically let the world write/read/delete/blowup... Hence our production ES server being a bit more picky.

meh - maybe... Eventually? We don't really have staff to maintain our resource today. We have replication from our Public Prod ES instance to our internal instance... However

[2020-09-17 09:24] kpouget opened #413 "Unable to run iperf benchmark"
I'm unable to run the `iperf` benchmark, I don't know if it's due to some issues in my CR (I fixed the `workload` part [a few minutes ago](https://github.com/cloud-bulldozer/benchmark-operator/pull/411)) or if it's the code:

[code]
`worker01` and `worker02` are node name in my cluster

[code]

[2020-09-17 09:31] rsevilla87 commented on #413
Just detected an issue in the current implementation:
https://github.com/cloud-bulldozer/benchmark-operator/blob/master/roles/iperf3/templates/server.yml.j2#L15
This conditional should be:
{% if workload_args.hostnetwork %}

Im gonna push these changes to fix it. For the time being I think you can overcome this issue removing the line `hostnetwork: false` from your CR.

[2020-09-17 10:09] jtaleric commented on #413
@kpouget iperf isn't heavily used by the team... we have some limited CI testing for it. Nice catch!

[2020-09-17 11:09] kpouget commented on #413
@rsevilla87, indeed, that seems to be the issue, and without `hostnetwork: false` it goes better :) ... but `hostnetwork: true` is part of what I wanted to test :#

is there an easy way to run the operator from the source? I may try to contribute some MPI benchmarks, so eventually I'll have to run from the source

[2020-09-17 11:24] rsevilla87 commented on #413
You can wait for the PR to merge (I hope we can merge it today). On the other hand, I've uploaded an operator image with the fix, find it out at quay.io/rsevilla/benchmark-operator:iperf3-fix

[2020-09-17 11:50] kpouget opened #415 "Unable to run uperf with sample from docs"
The `uperf` [documentation](https://github.com/cloud-bulldozer/benchmark-operator/blob/9c483ec/docs/uperf.md) gives this simple YAML file:
[code]
but this CR fails to execute.

From what I could understand in the logs, the issue is:
[code]
Removing `runtime_class: class_name` solves the problem.

[2020-09-17 12:37] dry923 commented on #415
@kpouget the runtimeclass parameter is specific to kata containers. So if your environment is not setup as such it will not work with that option in there.

If you look down in the docs some:
[code]

That said, we should probably update the docs to be more clear.

[2020-09-17 13:19] kpouget commented on #415
@dry923 thanks for the clarification :)

regarding #416, the way I [didn't] read the documentation is that I wanted to quickly try `uperf`, see if it works and if it could help me with my investigations, so I took the 1st CR I found, customized when I recognized and didn't touch the rest.

Maybe you could change:
[code]
to
[code]
if this works with kata & not kata, or:
[code]

[2020-09-17 13:40] bengland2 commented on #408
OK, well in that case, this issue will serve to document how the system works today and keep people from getting confused about this error like I was.

[2020-09-17 14:20] jtaleric commented on #413
Fixed : https://github.com/cloud-bulldozer/benchmark-operator/pull/414

[2020-09-17 14:20] #413 closed

[2020-09-17 14:21] fritchie opened #417 "Feature requests: fio json output retrieval, fio librados and librbd"
Feature Requests

1. The fio-client pod goes to a "Completed" status when the fio job is finished. This makes it difficult to
copy the fio json files from /tmp when elasticsearch is not available. An option to keep the fio-client pod running after the job is complete would be nice to have for this situation. Another option would be to have all the json output sent to the pod log as is done for the

[2020-09-17 14:39] jtaleric commented on #417
@fritchie Agreed - having a better option for results versus always relying on Elasticsearch.

@acalhounRH I wonder if we could send result data to our redis backend, and have Ripsaw present the user with results after the run? Since we know the workload has completed?

[2020-09-17 14:53] bengland2 commented on #417
+1.   However, if you send result to redis, how do results get cleaned up?   If JSON is in the log, it's easy to write a python script that digs it out of the log, and then you can do whatever you want with it.  However, it would be so big that it would make the log harder to read.  Example: the prefill JSON output.

[2020-09-17 15:15] fritchie commented on #417
@bengland2 for cleaning up redis I believe it is possible to set an expire time on a key (I have never personally used this though):

https://redis.io/commands/expire

[2020-09-21 11:15] rsevilla87 opened #419 "Merge elasticsearch.server and prometheus.server"
Merge elasticsearch.server and prometheus.server variables. These variables are redundant and led to confusion as I don't see a clear reason to send metadata metrics and prometheus metrics to different ES instances.

[2020-09-21 20:48] #408 closed

[2020-09-21 20:50] bengland2 commented on #374
moral of story is use powers of 2 for bs sizes and use KiB not KB.   Also,

[2020-09-21 20:50] #374 closed

[2020-09-21 20:52] bengland2 commented on #375
I think we need to make histogram collection optional here. But a workaround is to increase the log_hist_msec to 60000 or some large number so it collects very infrequently.   This might be done in the log_params section of the CR, try it.

[2020-09-22 18:44] bengland2 commented on #325
I did merge, but it failed recently when I tried it on a baremetal cluster with OCP 4.5, not sure what the problem is but it passes CI, the error is that wait_for_daemonset.py is not authorized, might be as simple as: oc create -f resources/kernel-cache-drop-clusterrole.yaml (not in doc yet) .  I'll look into this when time permits.

[2020-09-28 12:50] smalleni opened #422 "[Update Docs] Operator SDK 1.0"
The docs in https://github.com/cloud-bulldozer/benchmark-operator/blob/master/CONTRIBUTE.md need to be updated for operator-sdk 1.0. There's some pieces of code that probably need updating too, but the commands mentioned in the contribution guide did not work until I downgraded to v0.19.

[2020-10-01 15:18] dry923 commented on #419
@rsevilla87 this was setup in a way to allow us to send to different es servers as there were large concerns over the performance impact of sending the prom data to a single (potentially undersized) es server. Additionally in the wrapper it is configured to take a separate values.

@acalhounRH can you provide some comments here as well?

[2020-10-01 17:17] rsevilla87 commented on #419
Yeah, I know. However, in what cases are we sending metrics are we sending documents to different ES instances?
This is an effort to simplify things that can led to confusion.

[2020-10-01 17:25] dry923 commented on #419
We are not yet. It was added into the wrapper but not used yet.

[2020-10-05 11:58] bengland2 commented on #381
very relevant!

[2020-10-05 12:00] bengland2 commented on #382
There is a reason why we have the runtime parameter - prefill: true is normally the only fio activity with unbounded time, because it can take forever to populate a huge file with 4-KB random writes, for example.

[2020-10-06 03:26] sarahbx opened #429 "pbench-uperf fails to install in client vmi"
It appears the installation process in the client for pbench-uperf has changed, possibly due to the move to RHEL8 for the underlying image. I attempted to use the method described in the pbench docs, but kept running into dependency issues. https://distributed-system-analysis.github.io/pbench/start.html

Template file: `roles/uperf/templates/workload_vm.yml.j2`

From console output of the client v

[2020-10-06 09:49] jtaleric commented on #429
Yeah, we were using the pbench-uperf RPM, which seems is no longer in that copr repo.

For our container image, i think `uperf` is in the appstream as `uperf`...
[code]

I wonder if we just need to update these lines[1][2] to pull in the appstream and install `uperf` instead of `pbench-uperf`.

[1] https://github.com/cloud-bulldozer/benchmark-operator/blob/master/roles/uperf/templates/workload_vm.

[2020-10-06 10:38] rsevilla87 commented on #429
Hey @sarahbx, we're currently using EPEL to install UPerf, so basically you'd have to do something like this.
[code]
I'm gonna open a PR to fix this issue.

Thanks for reporting!

[2020-10-06 16:09] acalhounRH commented on #419
@dry923 Is correct, we set this up on Arakash￼'s request, due to fears we would over load the test result ES server.

The ideal is that test result(s) indexing by the entire team should not be interrupted￼ due to the load of prom data being indexed. If overtime we determine there is no significant amount of stress incurred by prom data indexing we will revert to using a single ES server.

Prom ind

[2020-10-06 17:35] sarahbx commented on #429
Thank you @rsevilla87!

[2020-10-08 10:24] rsevilla87 commented on #429
Hi @sarahbx, https://github.com/cloud-bulldozer/benchmark-operator/pull/431 should fix this issue. I don't have currently a CNV env available, so I built a new benchmark-operator image using the bits from the PR at quay.io/rsevilla/benchmark-operator:fix-vm . Mind you try it and verify it works properly so we can merge the PR?

[2020-10-12 14:03] dry923 opened #432 "Ripsaw and SNFU CI break when http://es.server is used for the elasearch target"
Kube-burner requires the ES instance to be passed as http://.... however our existing CI sets one w/o http. Changing it to http:// is simple enough however it breaks existing CI tests. We should look into how to make it agnostic

[2020-10-12 14:09] dry923 commented on #432
@whitleykeith FYI

[2020-10-20 12:59] rsevilla87 opened #443 "Nest workload parameters under workload"
There are several parameters that in the benchmark-operator CRD that are workload parameters (job_params, hostpath, drop_cache_kernel...) and are not nested under the  workload dictionary. To improve standardization and maintainability we should nest them under workload.

[2020-10-21 19:46] sarahbx commented on #429
Hi @rsevilla87, have a working environment to look at this, uperf did get installed, but now `git` is not :D
[code]
[code]

[2020-10-22 08:40] rsevilla87 commented on #429
Thanks for bringing this up @sarahbx , I've pushed a new benchmark-operator container image with a fix for that  at `quay.io/rsevilla/benchmark-operator:latest`

Mind you verify it works before merging the patch?

Thanks!

[2020-10-22 12:48] sarahbx commented on #429
The new image fixes the installation process @rsevilla87 🙂
Thank you!

[2020-10-22 13:12] #429 closed

[2020-10-22 14:16] whitleykeith opened #449 "Benchmark CRs do not have common state definitions"
Not all benchmark CRs expose the same state definitions which makes it difficult to handle benchmarks in a uniform way.

The vast majority of the workloads have 3 general states: Building, Running, and Complete. Some workloads may have more than those 3 states (i.e. fiod has StartingServers/StartingClient), but that's fine as they still implement the core 3 states.

However, some benchmarks do not

[2020-10-22 14:25] whitleykeith opened #450 "All benchmarks should uniformly label owned resources"
Benchmark CRs usually create at least 1 job that runs the benchmark, but they can also run other resources (i.e. fiod creates Servers and Clients).

Most of these created resources follow a general pattern for resource creation, which is $BENCHMARK_NAME-$SUUID. However, workloads like fio do not follow this pattern, making it difficult to programmatically track resources created by the benchmarks.

[2020-10-22 14:32] whitleykeith opened #451 "Refactor deploy manifests"
Currently deploying the operator requires you to run these three commands

[code]

Which is cumbersome and makes it difficult to understand what is needed for the operator to deploy. Ideally, this should just be:

`kubectl apply -f deploy`

[2020-10-22 14:39] whitleykeith opened #452 "Benchmark Operator does not have the necessary permissions to run Servicemesh benchmarks"
When attempting to run the servicemesh benchmarks, you will see the following error:

[code]

[2020-10-22 17:46] dry923 commented on #451
I agree. The install process should be a bit less chaotic.

[2020-10-22 17:47] dry923 commented on #452
You'll note there are a few roles in the resources folder. These are applied when required vs giving the operator full admin rights

[2020-10-22 17:54] dry923 commented on #449
While I do agree we can standardize some of the states it really isn't simple to distill it down to a common 3 or something of the like. If you look in the individual roles those states correspond to varying stages of the workload. For example, ycsb has a load and a run option so there is separation there that is necessary

[2020-10-22 17:55] whitleykeith commented on #452
Yeah I ended up fixing this one by applying that role

[2020-10-22 17:55] #452 closed

[2020-10-22 17:56] dry923 commented on #419
@rsevilla87 I believe this is resolved w/ the name change via https://github.com/cloud-bulldozer/benchmark-operator/pull/436 correct?

[2020-10-22 18:05] whitleykeith commented on #449
I agree that extra steps can be a different state, like the fiod example. It's just the "core" states need to have common namings. It's similar to normal K8s Pods, which *can* have init steps, but they still *must* have Running/Failed states.

To me the FIOD states are perfectly fine

Building -> StartingServers -> StartingClient -> Running  -> Complete | Failed

But for instance the hammerdb isn'

[2020-10-22 20:13] jtaleric opened #455 "Add hexfusion's go to queries to our metrics.yaml"
Sam recommends we should add

[code]

and

[code]

And add these to our ectd panels.

[2020-10-22 20:13] jtaleric commented on #455
cc @hexfusion

[2020-10-23 09:46] rsevilla87 commented on #419
yes!

[2020-10-23 09:46] #419 closed

[2020-10-23 11:45] #455 closed

[2020-10-26 10:24] jtaleric commented on #387
Still relevant.

[2020-10-29 12:52] dry923 opened #460 "Cluster utilities may not be at appropriate versions"
During the CI Tests we assume that the versions of kubectl, oc, etc are at a suitable version. We should add a step to ensure required packages are at the correct level for the current implementation.

[2020-10-29 12:52] dry923 commented on #460
@whitleykeith might be something to add to your updated ci tests if you haven't already

[2020-10-30 18:24] whitleykeith opened #465 "[Enhancement] Add "BenchmarkSuite" CRD"
Proposal:

Ripsaw should be able to accept a `BenchmarkSuite` CRD, which contains definitions to a list of benchmarks to run. The CRD would be able to maintain all shared values across benchmarks, such as run_id and Metadata Collection/ES configuration

Example:

[code]

[2020-10-31 16:45] #389 closed

[2020-11-01 18:54] jtaleric commented on #389
@acalhounRH what is your thoughts on this?

[2020-11-02 16:02] bengland2 commented on #389
Are you talking about logging the output from the pods?   I'd like to see pod output logged to a file even if the test is successful, just so that we can verify that the pod is doing what we think it is supposed to do.  Also, benchmark-operator logs are insanely hard to read, I had to write a [parse-kube-pod-log.py](http://perf1.perf.lab.eng.bos.redhat.com/pub/bengland/public/openshift/ripsaw/pars

[2020-11-03 00:34] fritchie opened #467 "Question: benchmark-operator-kube clusterrole"
What is the clusterrole with name benchmark-operator-kube used for? I cannot find any references in the code.

The clusterrole is defined in file:

https://github.com/cloud-bulldozer/benchmark-operator/blob/master/deploy/40_cluster_role_kubevirt.yaml

[2020-11-03 12:52] jtaleric commented on #467
hey @fritchie if you are running with cnv/kubevirt that role is needed.

[2020-11-03 23:11] #467 closed

[2020-11-12 16:32] #417 closed

[2020-11-13 21:08] smalleni opened #473 "[Uperf] Allow different request and response sizes"
Currently we support
[code]

as a list of message sizes in the CR for uperf.

This translates into the same size for request and response in the uperf xml. We need a way to specify a response size that is differetn from the request size to do things like request-response tests with 64B requests and 1K responses for example (typical HTTP request response sizes, with smaller requests than responses)

[2020-11-13 21:11] smalleni opened #474 "[Uperf] Control Ports used by uperf"
Currently uperf uses port 20000 for the TCP control port, but picks random port numbers for the dataplane traffic. Depending on the number of threads in the test, we should be able to template out corresponding port numbers on the uperf xml, to have a deterministic assignment of port numbers that we can later use to enable networkpolicy.

[2020-11-13 21:13] smalleni opened #475 "[uperf] Enable Network Policy based on protocol/port numbers"
Currently we have support for a simple network policy that I added based on podselectors. Once we have a determinism in terms of the ports used by uperf, we should create a NetworkPolicy that only enables those ports for that particular type of traffic on the ingress (TCP/UDP and port numbers). This issue depends on
https://github.com/cloud-bulldozer/benchmark-operator/issues/474

[2020-11-13 21:25] smalleni opened #476 "[uperf] Uperf pod placement at scale based on number of nodes"
Currently within the CR for uperf, we have a way to ping the server pods and client pods using a nodeSelector like in https://github.com/cloud-bulldozer/benchmark-operator/blob/master/resources/crds/ripsaw_v1alpha1_uperf_cr.yaml#L22-L23.

However, we also need another dimension to run uperf at scale and some of the requirements are
1. If I want to run 20 uperf pairs, I need exactly the same number

[2020-11-13 21:26] smalleni commented on #476
@jtaleric @dustinblack Let's discuss more here.

[2020-11-16 16:28] smalleni commented on #476
So I have some ideas and would like to use them as a starting point. This is based on my previous experience running dataplane tests at scale on OpenStack. The general methodology should apply to OpenShift, regardless.

This is my proposed ripsaw uperf CR
[code]

Here's what would happen

We would launch 10 servers and 10 clients per worker node across 10  worker nodes for a total of 100 server/cl

[2020-11-16 16:29] smalleni commented on #476
@rsevilla87 thoughts?

[2020-11-16 16:56] dustinblack commented on #476
For some consistency across workloads, I would recommend modeling the `execution` parameter here and the `num_databases_pattern` from the pgbench workload to work effectively the same way. I wouldn't want to dictate that the way I did this with pgbench is the right way and we should do it the same here, rather if we find a better way here we should also apply it to pgbench and use it as a general

[2020-11-16 17:28] dustinblack commented on #476
Agreed -- This basically describes the model I have been proposing. However, I think we should debate the key names as they don't come across as very intuitive to me in how they interact with each other.

Perhaps `execution` could be something like `execution_pattern`. I think instead of `quadratic` as a value you really mean `exponential` (though I'm no math guru), and in the pgbench workload I a

[2020-11-16 21:27] mrbojangles3 commented on #476
### Question
Are we considering these changes to go into the default uperf benchmark? or Do we want to have one that is designated for scale? I can see wanting to leave the default uperf bench alone for example purposes or a smaller test for something like sctp, quic, or other non-scale testing.
I am in favor of creating a uperf-scale benchmark.
What do we think about a 1:N or N:M client to server

[2020-11-16 22:06] dustinblack commented on #476
I would personally lean towards a single benchmark that can handle either the 1:1 or the scale workloads.

It's a good thought, but maybe something to address w/ a separate feature request since I don't think it's directly relevant to the work ahead of us.

These seem fine. I don't have a strong opinion about the key names _except_ that I prefer to name things in a way to make them as self-explana

[2020-11-16 23:54] smalleni commented on #476
+1 Dustin. A benchmark is a benchmark, we are just adding the ability for it to run at scale. We will not change our ability to run the benchmark we currently have, even at the end of all this implementation.

I'm not really opinionated about the naming, but like Dustin said the more intuitive the better. test_pairs does not quite capture what I envision density to do..so maybe we need to work on

[2020-11-17 14:58] rsevilla87 commented on #475
Creating a Network policy to match only the required ports will increase workload complexity, I'm not sure if it will worth the effort in terms of performance difference compared with the current network policy implementation (all ports from pods matching the selector are open).
Im saying this because east-west network packets will go through the same OFlow tables regardless we allow only some por

[2020-11-17 17:04] HughNhan commented on #475
I tend to agree with @rsevilla87 - k8s network policy as I understand is just a simple match of dest_ip, port and proto with action of drop/pass, a ACL feature. For OVS based, the processing overhead is in the OVS control plane. When a new flow arrives, the first packet is punted to OVS control plane where the packet is subjected to as many tables as features are configured on this interface. Once

[2020-11-19 16:23] fritchie opened #479 "Feature request: object storage performance testing"
Is anyone currently working on adding an object storage performance workload (cosbench/warp/hsbench) or would that be something new to contribute?

[2020-11-19 18:30] vasukulkarni opened #480 "benchmark operator pod for power64 and Z platform"
Since we are running benchmarks via ripsaw, we need i to work on power64 and Z platform, original issue is: https://github.com/red-hat-storage/ocs-ci/issues/3362

[2020-11-19 18:32] vasukulkarni commented on #480
Linking similar issue: https://github.com/cloud-bulldozer/benchmark-wrapper/issues/228

[2020-11-20 11:40] jtaleric commented on #480
Hey @vasukulkarni ! We will discuss how we can make this possible with people who have access to ppc/z hardware, to insure we do not introduce any issues with future builds.

https://coreos.slack.com/archives/CNKHL6076/p1605811724484900

[2020-11-20 11:41] jtaleric commented on #479
This would be new.

I am familiar with cosbench but not the others. Happy for someone to contribute that.

[2020-11-20 11:42] jtaleric commented on #381
Checking here on this issue... is someone going to work on it?

[2020-11-20 11:42] jtaleric commented on #381
cc @bengland2 @acalhounRH @ekuric

[2020-11-20 11:42] jtaleric commented on #480
linking : https://github.com/cloud-bulldozer/benchmark-operator/issues/387

[2020-11-20 15:30] bengland2 commented on #381
I just ran with the Filesystem storage class on AWS EC2 i3en and I did not see this problem, I checked file sizes.  But I was using prefill: true.

[2020-11-22 16:50] bengland2 commented on #325
This is fixed, closing it.

[2020-11-22 16:50] #325 closed

[2020-11-25 01:35] smalleni opened #483 "[RFE] Build one utility container for all benchmarks"
Right now, we have a different image per benchmark. In disconnected environments, it becomes hard to host so many container images, so it would be a good idea to make one image for all the workloads.

[2020-11-25 18:30] fritchie commented on #479
fio also has an http ioengine:

https://github.com/axboe/fio/blob/master/examples/http-s3.fio

This would be very easy to add to the current fio_distributed ansible role by creating a new configmap and a few variables. The gotcha seems to be that the filename_format would be something like

filename_format=/{{workload_args.http_s3_bucket}}/fio-object.${HOSTNAME}.$jobnum

instead of

filename_forma

[2020-11-26 08:49] chintha-govardhan opened #485 "Uperf with multus enabled not working"

[2020-11-26 08:52] chintha-govardhan commented on #485
When multus enabled networks used for Uperf test, the uperf client is displaying failure logs as shown below

[code]

[2020-11-26 13:16] #485 closed

[2020-11-26 16:19] ekuric opened #487 "For ycsb pin and pin_node are not respected"
For `ycsb`  `pin` and `pin_node` are not respected.

`pin` and `pin_node` are defined in

load: https://github.com/cloud-bulldozer/benchmark-operator/blob/ceb9c431af274dbdd1d7f125fbc9ff71e9aa0914/roles/ycsb/templates/ycsb_load.yaml#L60-L63

run: https://github.com/cloud-bulldozer/benchmark-operator/blob/ceb9c431af274dbdd1d7f125fbc9ff71e9aa0914/roles/ycsb/templates/ycsb_run.yaml#L60

For benchmark

[2020-11-29 18:47] #407 closed

[2020-11-30 16:51] bengland2 commented on #473
definitely want this for Ceph, since reads and writes are a perfect example of asymmetric message sizes.

[2020-11-30 22:20] #415 closed

[2020-12-01 18:11] bengland2 commented on #479
fio is not intended for object storage benchmarks, don't use that.   Talk
to Shekhar Berry, he has a OCS S3 COSBench-based benchmark.  Let me know if
you have trouble getting that into benchmark-operator.

On Wed, Nov 25, 2020 at 1:31 PM Frank Ritchie <notifications@github.com>
wrote:

[2020-12-05 00:48] #375 closed

[2020-12-07 14:23] piyushgupta1551 commented on #387
Relevant Issue - https://github.com/cloud-bulldozer/benchmark-wrapper/issues/228

[2020-12-09 09:00] mkarg75 commented on #465
Is the repitition of the individual workloads something that's in the workload's realm or should this be part of the suite? I personally would like to see it on the level of the BenchmarkSuite rather than at the workload level.

[2020-12-10 19:50] dustinblack opened #496 "Implement operator loop state tasks as a "library" item"
The tasks for operator loop state detection have become boilerplate across the workload roles. I think we should consider moving this into the "common" role and importing the tasks as effectively "library" items into the workload `tasks/main.yml` playbooks.

Ultimately, I think a lot of workload role functionality ends up being reusable, and it would be nice to see other functionality get moved in

[2020-12-10 19:59] dustinblack commented on #473
Done with PR #481

[2020-12-10 19:59] #473 closed

[2020-12-11 16:29] #422 closed

[2020-12-14 11:11] amej opened #500 "Oudated link on the RipSaw in Operatorhub.io"
Section 'Links' under https://operatorhub.io/operator/ripsaw points to a dead link https://www.ripsaw.cloudbulldozer.io/
![image](https://user-images.githubusercontent.com/2050992/102074697-2928fd00-3e2b-11eb-8133-02f09aadb033.png)

[2020-12-14 11:36] jtaleric commented on #500
Thanks @amej - the work in OperatorHub is sorely outdated.

[2020-12-14 16:57] RobertKrawitz opened #501 "All benchmarks should support RuntimeClass"
All benchmarks should support [RuntimeClass](https://kubernetes.io/docs/concepts/containers/runtime-class/)

[2020-12-14 17:43] jtaleric commented on #501
We should also ensure that we capture the RuntimeClass used as metadata so we know kata vs non-kata vs cnv

[2020-12-16 11:15] #501 closed

[2020-12-17 12:27] amej commented on #500
@jtaleric : Besides the link; is the operator version available through OperatorHub way behind the one available in github ?

[2020-12-17 22:53] sarahbx commented on #476
Hello all, was chatting with @jtaleric on slack and heard about this issue.
I just had a PR merged that is a first-pass at handling the case of multi uperf client/server pairs for VMs. I had been thinking about porting it to the uperf pod test. Reading up on this issue, but for now...
https://github.com/cloud-bulldozer/benchmark-operator/pull/498

[2020-12-17 23:54] sarahbx commented on #476
+1 to Dustin and Sai.

+1 to this, I've been starting to run VM tests both pinned and not. Boolean and node labels would be ideal.

+1 again. Please retain the ability to run on a single node, clusters come in all sizes :)

Thought on the api:

    scale:
      step_style = linear, doubling, none
      test_pair = 1 uperf client and 1 uperf server
      density = test_pairs per node
      total_wo

[2020-12-18 16:15] acalhounRH commented on #381
This issue may be due to the pre-fill having hard coded values for numbjobs, will look into addint override functionality to the prefill parameters so they match/generate the same number of files as the workload.

[2020-12-18 17:23] HughNhan commented on #476
Quite often we would like to focus on a narrow range of N to M nodes to drill down on latency and throughput.  Reason being, latency often exhibits a "knee" where the curve looks flat over the lower range until at certain point it curves up drastically - On the other hand, throughput's curve often time goes relatively linear up until a certain point where it begins to flat out.

So instead of havi

[2020-12-18 18:17] #382 closed

[2020-12-25 17:28] #432 closed

[2020-12-31 18:17] williamcaban opened #506 "Add `TestPMD` to the tools"
Consider the addition of `testpmd` to the suite of testing tools. TestPMD is used to test the performance of DPDK applications.

References:

- Testing DPDK Performance and Features with TestPMD: https://software.intel.com/content/www/us/en/develop/articles/testing-dpdk-performance-and-features-with-testpmd.html

[2021-01-04 21:25] jtaleric commented on #506
@williamcaban are you interested in adding this functionality?

[2021-01-04 21:31] #450 closed

[2021-01-04 21:31] #449 closed

[2021-01-04 21:31] #451 closed

[2021-01-06 16:29] mukrishn commented on #506
@jtaleric I am working on this.

[2021-01-11 14:30] #460 closed

[2021-01-12 20:36] smalleni commented on #506
Initial PR opened by Murali: https://github.com/cloud-bulldozer/benchmark-operator/pull/510

[2021-01-15 11:00] rsevilla87 opened #512 "Metadata State not updating"
Benchmark metadata state remains in "Collecting" state forever regardless it has been already collected.

[code]

[2021-01-22 10:49] martineg opened #515 "elasticsearch.url field ignored or dropped in benchmark build"
Running the benchmark-operator installed from the Helm chart in master, I'm dealing with an issue of the `elasticsearch.url` parameter I pass in the benchmark CR somehow being silently dropped and causing errors in the benchmark build.

Excerpt from my benchmark CR is as follows:
[code]

However my benchmark is stuck in state "Starting Clients", and with the following error in the ansible log of t

[2021-01-22 16:11] #515 closed

[2021-01-30 20:59] #475 closed

[2021-01-31 15:03] jtaleric commented on #474
@mohit-sheth I thought we had some ideas on this one?

[2021-02-02 14:16] #480 closed

[2021-02-02 17:59] vandammesander opened #519 "Image references are using tags instead of digest - unable to use OLM in a disconnected environment"
in the operator definition the redis image is hardcoded to k8s.gcr.io/redis:v1
As we are using the operator also in disconnected/restricted environments, this will not work.

Please update this reference so it can be used in an olm disconnected environment (for example make it possible to use ImageContentSourcePolicy - in other words an image digest should be used instead of a tag)

[2021-02-02 18:20] jtaleric commented on #519
Not sure how the disconnected envs work, but could you just update the spec here?

https://github.com/cloud-bulldozer/benchmark-operator/blob/master/resources/operator.yaml#L64-L76

[2021-02-02 19:50] vandammesander commented on #519
Well when using the OLM (operator lifecycle manager) in OKD/OpenShift/K8S you are using the images available via the operatorhub catalog (https://operatorhub.io/operator/ripsaw). We cannot override the images baked in the images themselves. the only way of overriding is via the ImageContentSourcePolicy object where you can define the mirror "offline" registry. As the ImageContentSourcePolicy objec

[2021-02-03 09:20] ebattat opened #520 "Uperf & stressng issues"
Issue 1: stressng: benchmark operator collection did not work

cat benchmark-operator/resources/crds/ripsaw_v1alpha1_stressng_cr.yaml
when collection: true
error: see slide 9
https://docs.google.com/presentation/d/13Uxzt_u-fv0mZ628mMxb9RRdNVC_21IxCpG0EkEy_c0/edit?usp=sharing

solution:
collection: false

Issue 2: uperf:  class_name did not work
cat benchmark-operator/resources/crds/ripsaw_v1alpha1

[2021-02-03 10:48] rsevilla87 commented on #520
Hey @ebattat, thanks for raising this up, I've created a PR to address the first and third issues.

How did you reproduce the second issue?, the CR you pointed `benchmark-operator/resources/crds/ripsaw_v1alpha1_uperf_cr.yaml` does not contain any reference to runtime_class

Regarding the 4th issue. As mentioned previously, these CRs are just examples that could be used as a reference, so in case y

[2021-02-03 11:24] ebattat commented on #520
Hi Raul,

You're right, runtime_class is appearing only in the readme
<https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/uperf.md>,
I think that we need to comment it out because that causes an error or to
fix it.
Regarding the elasticsearch URL, I think we should leave it empty otherwise
it causes an error specially for beginners.
Please let me know if you need more informati

[2021-02-07 04:51] #483 closed

[2021-02-07 19:51] dry923 opened #523 "Show if benchmark is tested via CI on ReadMe"
As adoption of the tooling becomes greater and additional workloads are added by other groups we should define if the benchmark is tested in our CI scripts. This would give people a little "use at your own risk" type warning. My only concern with this is adding yet another column to the grid on the front page of the ReadMe.

[2021-02-08 19:49] #523 closed

[2021-02-09 00:59] #487 closed

[2021-02-14 18:05] jtaleric commented on #479
opening back up

[2021-02-18 14:57] bengland2 opened #527 "fio with kind: vm no longer works"
the fio benchmark with kind: vm will not work anymore.  This is because the fio versions of the client and server must match EXACTLY, but the fio benchmark of the client is fio-3.19-3 whereas the fio benchmark of the server container image was frozen in time at quay.io/mulbc/fed-fio , so you'd see errors like this in the client log:

[code]

 I fixed this by generating my own fio image using Chris

[2021-02-18 15:21] jtaleric commented on #527
@mulbc FYI

In our documents :
[code]

[2021-02-18 16:23] bengland2 commented on #527
quay.io/mulbc/fed-fio was a VM image, client is a pod (container) image, so they can't be the same.  quay.io/mulbc/fed-fio is exactly what I set it to in the beginning when I got the error.   It used to work, now it doesn't, his image didn't change, so it must have been the version of fio used in quay.io/cloud-bulldozer/fio image.

[2021-02-18 16:48] jtaleric commented on #527
ack - now I see that, I didn't actually look at Chris's image. If we knew which FIO he was using, we might be able to pin that, but we need a longer term solution...

[2021-02-18 17:01] mulbc commented on #527
The fio VM image is just an example... Ben pinged me about the problem yesterday... he got my image creation script, if he is able to fix it by pinning to a specific fio version, I'm happy to update `quay.io/mulbc/fed-fio` to work again ;)

[2021-02-18 17:48] bengland2 commented on #527
@mulbc  exactly, not Chris's fault, but I would suggest we include VM image creation somehow as part of producing the benchmark image, so that they continue to be synch'ed in the future.   And I did get it working, it was not hard, [it's documented here](https://docs.google.com/document/d/1R8LFZiSxl1cuPDXj8klQmitP5YQkRm8pkIVLCH5coFw/edit#heading=h.4zxehi8i0n41), just needs some automation.   Sorry

[2021-02-18 18:44] jtaleric commented on #527
ack!

I was under the impression this was being maintained, since it was set as our default for fio_vm CR

https://github.com/cloud-bulldozer/benchmark-operator/blob/master/resources/crds/ripsaw_v1alpha1_fio_distributed_vm_cr.yaml#L30

[2021-02-20 03:05] #387 closed

[2021-02-23 01:06] #496 closed

[2021-02-24 21:08] djohnston89 opened #530 "Disconnected environments?"
Is this operator capable of hardcoding a custom image location like the fio-distributed test does (https://github.com/cloud-bulldozer/benchmark-operator/blob/4e025c572a59d4b9e6b2ddd4c2c6da0b0a091db5/docs/fio_distributed.md#understanding-the-cr-options)?

Our testing environments for our customers require fully restricted networks and proxy environments.

[2021-02-24 21:16] jtaleric commented on #530
For the Operator image?

You could specify that here:
https://github.com/cloud-bulldozer/benchmark-operator/blob/master/resources/operator.yaml#L37-L76

[2021-02-25 14:03] jtaleric commented on #530
@djohnston89 Thoughts on above?

[2021-02-25 17:21] djohnston89 commented on #530
Yes, thank you. That covers the operator image, but should we worried about any other internet dependencies? ie. I already see the redis image, and I imagine there's more throughout the repo? @jtaleric

[2021-02-25 18:26] bengland2 commented on #530
do grep -r quay.io . , you'll see a lot of other images being pulled from
quay.   Ignore the ones that are "default", because those can be overridden
in the CR (workload specification).   The ones that matter are the
hardcoded ones, and if your benchmark doesn't require them, then it doesn't
matter.

On Thu, Feb 25, 2021 at 12:21 PM djohnston89 <notifications@github.com>
wrote:

[2021-03-02 00:13] #500 closed

[2021-03-05 13:33] #381 closed

[2021-03-05 13:33] #443 closed

[2021-03-05 21:00] smalleni opened #531 "Uperf for Dual-Stack on baremetal"
The current logic that captures the uperf server IP to use inside the uperf xml on the client pod needs to change when pods have two IPs (Ipv6 and IPv4). The service spec must also change for exposing IPv6 services.

Resources: 

https://github.com/cloud-bulldozer/benchmark-operator/blob/master/roles/uperf/templates/configmap.yml.j2#L25

https://github.com/cloud-bulldozer/benchmark-operator/blob/m

[2021-03-08 17:28] HughNhan opened #532 "Paralell UPERF sessions"
In scale test environment, we would like to be able to launch multiple UPERF sessions in parallel to speed up scale tests.
For example, with carefully partitioning, we can setup multiple worker node sets. Each set can run its own tests.
One of the implementation code points that prevents parallel sessions today is the redis variable for the operator and client workload pod communication. This var

[2021-03-08 17:55] jtaleric commented on #532
we could use the `{{uuid}}-start` versus having yet another session id.

[2021-03-08 20:37] jtaleric commented on #476
:D damn you Stale bot

[2021-03-08 20:44] jtaleric commented on #530
sure - however, each of the workloads allow the image to be overwritten, and we have all of our Dockerfiles here[1]. So the user could build them and push to their own repo, does that suffice?

[1] https://github.com/cloud-bulldozer/benchmark-wrapper/tree/master/snafu

[2021-03-10 09:52] asispatra opened #533 "BYOWL: Need support for POD privileged mode, hostPath access, mountPath"
Currently BYOWL does not allow to run POD in privileged mode, hostPath access, mountPath, etc properties.

Can add support for these and all possible properties in BYOWL, so that we can use BYOWL for any workload which can run in privileged mode and should have access to hostPath etc.

Currently I have hard coded these option in the `roles/byowl/templates/workload.yml` and building the `benchmark-

[2021-03-10 09:59] rsevilla87 commented on #533
If you feel comfortable enough, feel free to send a PR including these features, I'll try to help you to get it merged asap.

[2021-03-10 10:02] asispatra opened #534 "New Workload: Can we add new workload - MMTests"
Can we add new workload - [MMTests](https://github.com/gormanm/mmtests)?

[MMTests](https://github.com/gormanm/mmtests) is a configurable test suite that runs performance tests against arbitrary workloads. It has a lot of workloads.

It would be better if we focus only one or two from MMTests e.g., [`wptlbflush`](https://github.com/gormanm/mmtests/tree/master/shellpack_src/src/wptlbflush), [`squli

[2021-03-10 10:24] asispatra opened #535 "iPerf3: Compulsory arguments does not provide performance as good as if we do not pass these arguments"
During iPerf3 network measurements, we have noticed that we have to pass all these following compulsory arguments.
[code]
As a result it generates the following command-lines for Server and Client POD.
Server POD Command: `iperf3 -s -p 5201 --forceflush`
Client POD Command: `iperf3 -c <IP_ADDRESS> -p 5201 --time 60 -l 128K -P 1 -w 64k -M 900 -S 0 -O 0 -R`

I get better performance with these follo

[2021-03-10 18:22] jtaleric commented on #530
@djohnston89 is this something we can work together on how to run benchmark-operator in a disconnected environment? Possibly add it to our documentation?

[2021-03-10 18:22] jtaleric commented on #506
Closed with #510

[2021-03-10 18:22] #506 closed

[2021-03-10 21:04] jtaleric commented on #534
Hey @asispatra - Happy to accept a PR adding MMTests, this isn't on our radar at the moment.

[2021-03-11 22:27] jtaleric commented on #519
Maybe you can help with a patch to further explain what you are looking for?

[2021-03-15 06:12] asispatra commented on #533
Here are the changes we have made in `roles/byowl/templates/workload.yml` under `workload_args.privileged` condition to enable privileged mode, hostPath access and mountPath.
[code]

But this is kind of hard coded. We wanted to have some generic implementation so that anyone can add their own changes how individual wants.
As a result I had tried some new changes to make it generic:
[code]
It has t

[2021-03-15 16:56] jtaleric commented on #533
hey @asispatra I would recommend creating a PR with what you have today?

[2021-03-15 16:56] jtaleric commented on #527
Checking in on this @bengland2

[2021-03-15 17:27] bengland2 commented on #527
haven't gotten around to submitting a PR yet.   @mulbc if you get there first fine with me, I should be able to take a look at a fix within 2 weeks.

[2021-03-16 19:54] dry923 opened #540 "Contribute page missing"
**Describe the bug**
The contribute page from the docs is missing

**To Reproduce**
Steps to reproduce the behavior:
1. look for docs/CONTRIBUTE.md

**Expected behavior**
The Contribute page loads

[2021-03-16 20:04] #540 closed

[2021-03-16 21:03] jtaleric opened #542 "[RFE] Capture and store system metrics for workloads"
**Is your feature request related to a problem? Please describe.**
Nope, this is purely an enhancement.

**Describe the solution you'd like**
Today the `benchmark-operator` using `benchmark-wrapper` sends workload results to Elasticsearch. However, the only workload that sends Prometheus metrics (system metrics) to Elasticsearch is `kube-burner`.

kube-burner also supports querying and indexing re

[2021-03-16 21:20] djohnston89 opened #543 "Keep benchmark-operator workload running on infinite loop? Fio-test cronjob vs job"
**Is your feature request related to a problem? Please describe.**
For our use case, we want to have fio tests running forever on a fixed interval. Not sure how to do this with the "sample" parameter.

**Describe the solution you'd like**
Can fio test create a k8s cronjob instead of a job?

**Describe alternatives you've considered**
Custom tooling that won't fit use case.

[2021-03-17 09:47] rsevilla87 commented on #542
Good idea @jtaleric, I think we could start with a "basic" metric profile holding the system metrics you mentioned (CPU/Memory/Network/Disk) and also give the users the option of using it's own profile.

[2021-03-17 10:03] rsevilla87 commented on #543
Hi @djohnston89, this is in my opinion a very specific test scenario that benchmark-operator doesn't cover and I think it shouldn't cover it
I'd suggest you to implement it outside of benchmark-operator. You have several options, one could be the following.
A linux cronjob or systemd timer that periodically creates a FIO benchmark.

[2021-03-19 16:55] djohnston89 commented on #543
Understood and thank you!

[2021-03-19 16:55] #543 closed

[2021-03-22 23:47] chaitanyaenr opened #547 "[RFE] Benchmark-operator should manage the lifecycle of Cerberus"
**Is your feature request related to a problem? Please describe.**
No, it's an enhancement request.

**Describe the solution you'd like**
Cerberus - https://github.com/cloud-bulldozer/cerberus is a standalone tool as and benchmark-operator today can query Cerberus provided the url over which it exposes the go/no-go signal: https://github.com/cloud-bulldozer/benchmark-operator#cerberus-integration.

[2021-03-23 13:54] whitleykeith commented on #547
I think this would be best done by adding Cerberus templates in the Helm Chart and surfacing up values to control Cerberus (i.e. cerberus.enabled). It would also make it trivial to configure the operator to hit the right cerberus URL as we could have it point to the cerberus service automatically.

i.e.

[code]

benchmark-operator deployment
[code]

[2021-03-23 14:15] dry923 commented on #547
Isn't part of the point of Cerberus is to monitor the cluster from outside the cluster? If we bring it into ripsaw it would be in-cluster. Not saying its good/bad/other but a thought none-the-less.

[2021-03-23 14:32] whitleykeith commented on #547
I see benefits of both but I think it's ultimately fine either way.

If we bring it in cluster it's easier to orchestrate as part of ripsaw's chart (imo adding this feature should require us to look at and refactor how we deploy ripsaw but we should do that now regardless) and could be easier to do more complex checks within the cluster itself.

If we leave it outside of the cluster I think it'd m

[2021-03-23 14:45] dry923 commented on #547
@whitleykeith well tbf there is a cerberus role atm. It takes a cerberus url to poll for cluster health and can stop a benchmark

[2021-03-23 15:03] rsevilla87 commented on #547
@chaitanyaenr we always prevented benchmark-operator to deploy additional infrastructure to perform a benchmark. I think your idea makes sense, however I'm not sure if benchmark-operator is the right place to perform this operation. I think a set of common tasks for all benchmarks in e2e-benchmarking could fit better.

[2021-03-23 15:06] whitleykeith commented on #547
@dry923 That role makes sense I'm mainly talking about how we install cerberus in the install playbook. I also wouldn't want the install logic to be in the ansible part of ripsaw though.

[2021-03-23 18:33] jtaleric commented on #547
I thought that was the point of Cerberus too. While Cerberus is not an Operator, we have been wanting to avoid benchmark-operator managing the lifecycle of anything but workloads.

My initial reaction is -2 here. If we are looking for something to deal with the lifecycle of Cerberus, could look into a Cerberus Operator?

[2021-03-23 18:54] fritchie opened #549 "Image security vulnerabilities"
A Clair scan of the image

https://quay.io/repository/benchmark-operator/benchmark-operator

finds the following high level vulnerabilities. If the image can be updated for them it would be greatly appreciated:

RHSA-2020:3658: [High]
Found in: librepo [1.11.0-2.el8]
Fixed By: 0:1.11.0-3.el8_2
The librepo library provides a C and Python API to download repository metadata. Security Fix(es): * libr

[2021-03-23 19:10] jtaleric commented on #549
I see some of our older images show vulnerabilities, but on the `:latest` I see:

[code]

https://quay.io/repository/benchmark-operator/benchmark-operator/manifest/sha256:53a770e377173cc95f4a832acb7362d70eb894dea5aaf8e695ba7e9082c0637d?tab=vulnerabilities

[2021-03-23 19:12] jtaleric commented on #549
For exmaple for this tag `update_redis_sha` I see :

[code]

[2021-03-23 19:19] fritchie commented on #549
ya I see that, the clair scan I am trying to get it past may a different vulnerability database or something, let me see if I can address this locally

[2021-03-23 21:34] jtaleric commented on #549
OK. Let me know if the issue pops up again.

[2021-03-23 22:07] #476 closed

[2021-03-24 10:35] #535 closed

[2021-03-24 14:04] whitleykeith commented on #547
I tend to agree with this, although I don't know if Cerberus is complex enough to warrant an operator at this point. We could look at making a Cerberus Helm Chart/Manifest Directory within it's repo to make it easier to install/configure.

[2021-03-25 10:09] rsevilla87 commented on #533
@asispatra ,There are several things in that benchmark that won't work. Let me explain them to you:

- serviceAccountName, serviceAccount and securityContext are already defined in the template metadata.yml.j2
- I verified that the "volumes" statement works well, however volumeMounts does not work as expected due to this known behavior from operator-sdk https://github.com/operator-framework/operat

[2021-03-25 15:07] asispatra commented on #533
@rsevilla87 , Thanks for the detailed explanation.

[2021-03-25 15:35] rsevilla87 commented on #533
Also, I submitted a PR to disable this snake_case conversion. Hope to get it merged soon

[2021-03-26 10:55] jtaleric commented on #547
@chaitanyaenr any other thoughts from your side on this?

[2021-03-26 13:10] chaitanyaenr commented on #547
Thanks for the feedback. Preventing additional infrastructure to perform a benchmark like @rsevilla87 makes perfect sense. @whitleykeith like we discussed offline, centralized version of the Cerberus might not work given that Cerberus doesn't support monitoring multiple clusters. +1 for driving the cerberus through e2e-benchmarking given that benchmark-operator can query the signal and act on it.

[2021-03-26 14:42] #547 closed

[2021-03-31 07:29] asispatra opened #558 "Netperf for Network Latency measurements"
**Is your feature request related to a problem? Please describe.**
For network performance we have `iperf3`. It looks like using `iPerf3` we can measure `Network Bandwidth`.
Is there a way to measure `Network Latency`?

**Describe the solution you'd like**
Can we include `Netperf` to measure `Network Latency`?
Netperf can be used for Network Bandwidth and Latency measurements.
https://hewlettpacka

[2021-03-31 09:43] rsevilla87 commented on #558
Hey @asispatra, our recommendation is to use the UPerf workload to measure network latency.
We currently support 3 types of workloads:

- stream: Streaming test. Normally used to measure bandwidth with TCP/UDP and different message sizes
- rr: Request/response test: Transactional request and response test. Normally used to measure network latency.
- bidirec: Bidirectional network test. Meant to be

[2021-03-31 13:46] smalleni commented on #558
@asispatra Hey, we already support flent in the benchmark-operator which uses netperf under the hood, so you can get what you need from flent.

[2021-04-06 21:06] fritchie commented on #549
actually, this should probably get rid of the cves

[2021-04-09 15:47] rsevilla87 opened #562 "[RFE] Implement pprof collection in kube-burner benchmark"
**Is your feature request related to a problem? Please describe.**
We need to collect pprof information from several golang components such as kube-apiserver, kube-controller-manager and etcd

**Describe the solution you'd like**
Kube-burner has a mechanism to periodically collect this information using Bearer tokens to authenticate with this components. As described in the official docs:
https://

[2021-04-09 17:39] jtaleric commented on #562
Or we could use Snappy to capture the output files.

[2021-04-13 09:37] rsevilla87 commented on #562
Update: kube-burner support for certificate authentication: https://github.com/cloud-bulldozer/kube-burner/pull/75

[2021-04-16 05:32] #474 closed

[2021-04-19 10:07] asispatra opened #567 "Uperf does not run properly always"
**Describe the bug**
While I was running uperf using benchmark operator initially once or twice run properly. After that client and server both are in running state OR only the server is running.

Really do not understand that is the issue.

Here is the yaml I am using:
[code]

**To Reproduce**
Do not know the exact trigger point.

**Expected behavior**
1. Uperf-Server should run first.
2. Uperf-C

[2021-04-19 10:09] asispatra commented on #558
I face issue https://github.com/cloud-bulldozer/benchmark-operator/issues/567 while running Uperf for Network Latency measurements.

[2021-04-19 17:15] fritchie commented on #549
fixed by

[2021-04-19 17:16] #549 closed

[2021-04-20 14:10] jtaleric commented on #533
@asispatra Seems that Raul has addressed your concerns and the snakecase is now merged. I will close this for now.

[2021-04-20 14:10] #533 closed

[2021-04-26 12:34] bengland2 commented on #479
I was on PTO last week, but [I'm working on it](https://docs.google.com/document/d/1biq61C8EGMY4U2Jxd4-kmYtOAUZeY5n3Q3adUb4JQe4/edit).

[2021-05-04 15:39] dry923 opened #568 "Workload status needs to be cleaned up"
**Is your feature request related to a problem? Please describe.**
The current workload status portion of the Readme (https://github.com/cloud-bulldozer/benchmark-operator#workloads-status) is getting very overblown and difficult for a new user to decipher when they want to find a workload to run for networking, or storage, etc.

**Describe the solution you'd like**
We could break this into bucket

[2021-05-10 12:11] HughNhan commented on #532
I have added this enhancement as part of another commit a while ago

[2021-05-10 12:11] #532 closed

[2021-05-17 14:11] bengland2 commented on #527
I discussed with Russ, I think we need some kind of CI that has both OCS and CNV in it so that we can test things like this that are going to be used in the field with benchmark-operator (example: Goldman, Morgan-Stanley).   It's non-trivial to implement from a dependency standpoint, but if we want to make benchmark-operator usable by a wider audience  then that's probably what we have to do.   Th

[2021-05-18 03:02] dustinblack opened #574 "Add looped matrix execution to the log generator workload"
Many (most?) other benchmark-operator workloads employ lists for parameters in the CR files and nested loops, mostly managed via jinja2 in templates, in order to execute large matrices of tests across every unique parameter combination. The log generator workload currently only allows for single values for each parameter.

[2021-05-18 10:07] dry923 commented on #574
@dustinblack we could certainly look into adding that (it should be a fairly trivial lift). Would you be looking to loop on anything besides the message size?

[2021-05-18 12:19] dustinblack commented on #574
Our test plan for bare metal, replicating your work on CloudWatch, calls for permutations through log rate, log size, and pod count, so if I understand correctly that that is a full matrix of tests it would mean we want all three of those to be lists.

[2021-05-19 20:59] usunnapu opened #576 "trex-traffic generation pod - usage error"
Looking to use this benchmark operator to validate DPDK virtual functions in OpenShift cluster v4.6. I can see the application POD is running successfully but in the trex-traffic-gen-pod, I see CrashLoopBackOff error as below
[code]
Upon checking the logs, noticing a usage error as below
[code]
Any thoughts or recommendations ?

[2021-05-19 21:02] jtaleric commented on #576
Can you share the CR you passed to benchmark-operator?

[2021-05-19 21:18] usunnapu commented on #576
[code]
FYI. I specified the compute node name that has keys "pin_testpmd" and "pin_trex" in the above yaml file. Please let me know if thats not the intention of these keys in the above yaml file.

[2021-05-20 13:13] mukrishn commented on #576
@usunnapu you are right, but if you want to pin pods to specific compute nodes you have to set `pin: true` in your CR as well. I am going to test this workload in my lab, I will keep you posted.

[2021-05-21 09:32] shekharberry opened #579 "Loop Nesting in Distributed FIO test"
Currently in Distributed FIO testing the looping is:
-for each value of numjobs (fio processes per pod)
--for each block size
----for each workload type (i.e. job file)
------ for each sample
-------- run fio

Whereas we want the samples for each test type to be spaced as far apart in time as possible to be able to show that the system's performance remains stable over the duration of the entire w

[2021-05-22 09:54] #531 closed

[2021-05-24 15:58] acalhounRH commented on #579
The problem with this is how benchmark-operator and wrapper perform this loop. currently operator breaks down the list or variables into specific permutations and the wrapper will run them for X sample times.  if the above aproach is needed you would have to send benchmark-wrapper the inclusive test config containing all possible test options, rather than the exact job file. you would then need to

[2021-05-24 20:03] usunnapu commented on #576
FYI. I tested this with Intel cards as well and am seeing the same error as mentioned above. Also, I have started noticing in my testing today that PDM application POD is also going in CrashLoopBackOff status

[code]
[code]

Not sure if its related to the same issue or not.

[2021-05-24 20:06] mukrishn commented on #576
@usunnapu The Trex error is same issue, due to the line break `\` in the command and PR got the fix.
The testpmd could be a different problem, could paste the logs you see in the pod ?

[2021-05-24 20:21] usunnapu commented on #576
all I could see is below for the logs of application pod
[code]
but also I see that the IP addresses are not being set. Can check this again to see if there is any other typo in the setup as I believe this was working before. But let me know if those above logs from testpmd applications means anything.

[2021-05-25 02:18] usunnapu commented on #576
I dont see any errors in the testpdm app pod. But I can see that SandboxChanged and eventually POD is getting testpmd pod is getting deleted

[code]
above are the messages I see when describe pod is run for testpmd application pod. After 5 attempts, testpmd application pod gets deleted
[code]

[2021-05-25 13:30] mukrishn commented on #576
@usunnapu from your logs the PCI devices are in NUMA node 1,

1. So did you create Hugepages on the same NUMA node as well ? [This](https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/testpmd.md#sample-pao-configuration) sample YAML definition is to create hugepages on node 0, please make sure you specify the correct node to create `hugepages`
2. Then also mention the testpmd me

[2021-05-25 15:32] chaitanyaenr opened #581 "Baseline workload"
**Is your feature request related to a problem? Please describe.**
No, it's a suggestion for an enhancement.

**Describe the solution you'd like**
We currently have workloads that helps in looking at the performance and scalability of data plane as well as control plane on a cluster with load. We also need a workload that helps in understanding the baseline performance of the OpenShift bits includ

[2021-05-25 16:52] usunnapu commented on #576
@mukrishn Thanks for your inputs. Dont want to mix two different things into this. Will keep this focussed only on the initial issue. I will work in ensuring things are working with respect to application POD. Will raise a different otherwise.

[2021-05-25 20:37] Tan2Pi opened #583 "testpmd Benchmark: trex-traffic pod fails due to json decode error"
Testing DPDK with the TestPMD Benchmark using Mellanox NICs on an OCP 4.6 cluster. TestPMD pod comes up, but trex-traffic pod fails due to a JSON decode error:
[code]
Here is the benchmark CR used:
[code]

This benchmark completes successfully if I use an SriovNetwork that has Intel XXV710 NIC Vfs, but not with an SriovNetwork using Mellanox CX-4 Vfs. Let me know if any other debug info is needed.

[2021-05-26 16:39] asispatra commented on #567
@rsevilla87,
Any comment on this issue? Still I am facing the same issue.

Thanks.

[2021-05-27 13:16] amitsagtani97 opened #584 "Add scheduler metric collection in kube-burner"
We might want to track the scheduler component performance as well through kube-burner as a part of cluster-density test for our Performance reports.

[2021-05-28 15:08] asispatra commented on #567
I am seeing the above issue because of the following redis-master error:

[code]

When the Benchmark-Operator starts immediately I do not see error. Even I do not see the error for initial one or two uperf runs.
suddenly this shows up in redis-master  and uperf run goes into infinite Running State.
I do not know yet what is the trigger for this error.

@rsevilla87 , Any idea about this error while

[2021-06-01 18:20] asispatra commented on #567
It looks like this issue I'm seeing on OpenShift cluster environment.
Because by default redis-master is running as `1000620000` unprivileged GID.
[code]

You can notice that in the following line:
[code]

[2021-06-02 12:06] mukrishn commented on #583
@Tan2Pi PR in progress for MLNX cards.
https://github.com/cloud-bulldozer/benchmark-operator/pull/580 & https://github.com/cloud-bulldozer/benchmark-wrapper/pull/275/files

[2021-06-02 14:42] #530 closed

[2021-06-02 14:42] #534 closed

[2021-06-02 14:42] #519 closed

[2021-06-02 14:42] #512 closed

[2021-06-02 14:42] #542 closed

[2021-06-07 19:07] #576 closed

[2021-06-15 16:49] whitleykeith opened #591 "Almost no benchmark handles failures"
Most of the time the benchmarks simply handle the happy path by setting the `status.complete` flag to `true` whenever the success condition is met. However, only 3 benchmarks (cyclictest, kube-burner, and oslat) actually have blocks to check for and report a Failure state.

This causes significant issues with orchestrating multiple benchmarks because we have to figure out how each benchmark functi

[2021-06-15 18:33] whitleykeith opened #592 "Remove Cerberus Checks"
We should remove Cerberus checks from Ripsaw.

In the event that the Cluster is unhealthy there's a good chance that Ripsaw may not be able to take action on anything, including updating the state of the benchmark. Moreover, we haven't seen any benchmarks leverage this and so it may not be needed at this layer.

[2021-06-16 18:19] jtaleric commented on #592
I am in-favor of removing this from Ripsaw... I know across the team we don't use this functionality.

[2021-06-16 20:02] dry923 commented on #592
+1 we don't use if for managed services either.

[2021-06-18 13:18] H3rman8 opened #594 "Postgresql testing not working without equalizing user and database name and using password defaults from hammerdb"
**Describe the bug**

Regarding testing with postgresql the following issues have been found:
1) For database workloads the database name is set to the database username.
2) For database workloads the user password is not passed to hammerdb.
3) With database/schema creation the superuser info is not passed to hammerdb.
4) The superuser's default dbase is used for database/schema creation.

To work

[2021-06-18 15:26] jtaleric commented on #592
Let's get a PR to remove it. Thanks @whitleykeith !

[2021-06-21 14:40] ebattat commented on #520
Hi,

You can close this issue, all was fixed.

Best regards,
Eli Battat.

[2021-06-21 14:49] #520 closed

[2021-06-26 19:03] bengland2 opened #595 "smallfile benchmark gets timeout from redis syncing up workload pods"
**Describe the bug**

smallfile doesn't complete all its samples because of a timeout from redis while trying to synchronize all of its workload generation pods

**To Reproduce**

Do more than one smallfile sample and operation type, and do a lot of files.  For example, this CR reproduces the problem in an AWS OCS 4.7 cluster:

$ cat smf.yaml
apiVersion: ripsaw.cloudbulldozer.io/v1alpha1
kind: Ben

[2021-06-30 13:25] bengland2 commented on #595
I figured out part of the problem with this, it is caused by some pods finishing way before other pods.   One workaround (a bad one) is to use just 1 pod for the smallfile test.   Although you can increase the number of threads within this one pod, this ultimately limits workload generation to a single host/VM ;-(

Another workaround is to use the pause: parameter in smallfile CR to slow down each

[2021-07-02 18:12] #558 closed

[2021-07-05 15:13] mulbc commented on #527
@bengland2 how do we proceed on this? Is this a task that you track in your team's backlog?

[2021-07-10 19:50] #479 closed

[2021-07-14 09:23] PrasadDesala opened #603 "pgbench pod enters into completed state during node failures"
**Describe the bug**
When the postgres pod running node is rebooted, the pgbench pod which was in running state before the node reboot is immediately reaching completed state.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Pgsql on OCS using ripsaw
2. Start running a benchmark by spinning postgres pod
3.  While the pgbench pod is in running state, reboot the node where postgres is ru

[2021-07-14 09:31] PrasadDesala commented on #603
@vasukulkarni FYI, as discussed I opened an issue here.

[2021-07-14 10:58] jtaleric commented on #603
This isn't a bug, but a feature request.

Ripsaw / Benchmarks are not meant to handle disaster / disaster recovery. For example, how long should the benchmark wait for the node to come back online?

Also, if the node goes down in the middle of a write, do we need to clear the data in the DB before running the benchmark to get consistent results?

[2021-07-14 11:31] rsevilla87 commented on #603
I agree with @jtaleric, these kind of events during the workload, node reboots, network connectivity outages, etc haven't been tested and we can't provide an expected outcome of the benchmark during those, we'd need to implement a new logic to make benchmark-operator able to handle this kind of events.

Curious @PrasadDesala, what scenario are you trying to test here?

[2021-07-14 12:04] PrasadDesala commented on #603
I am trying few failure scenarios on a node where Postgres is running which involves node reboot, drains and Postgres pod restart. During these operations it was observed that the pgbench benchmark pod is immediately going to completed state without running anything .

[2021-07-18 05:59] #568 closed

[2021-07-19 09:59] ekuric opened #608 "benchmark operator installation issue"
**Describe the bug**
installation with

[code]
fails with

[code]

[code]

[2021-07-22 15:49] ebattat opened #611 "VM is not working in latest benchmark operator version"
**Describe the bug**
Prerequisite:
Cluster with CNV

**To Reproduce**
Steps to reproduce the behavior:
1. Install benchmark-operator using helm or make deploy
2. Create file stressng_vm.yaml
[code]
3. oc create -f stressng_vm.yaml
4. oc get vmi
5. Notice that the vm is not created
This issue is appeared when installing using helm or make deploy
This issue is appeared in all the workloads that supp

[2021-07-24 14:20] ebattat opened #614 "Uperf client pod did not created when using helm install"
**Describe the bug**
Uperf client pod did not created when using helm install

**To Reproduce**
Install benchmark operator using helm install
Steps to reproduce the behavior:
1. kubectl create -f uperf.yaml (use valid_uperd.yaml example: https://github.com/cloud-bulldozer/benchmark-operator/blob/master/tests/test_crs/valid_uperf.yaml )
2. Notice that uperf server pod is created properly
3. Notice

[2021-07-25 08:51] ebattat opened #615 "Data did not upload to ElasticSearch"
**Describe the bug**
For every workload the data did not upload due to 'NewConnectionError'
(This issue is stated to happen in latest release)
**To Reproduce**
Steps to reproduce the behavior:
1. Make deploy benchmark-operator
2. Verify that ElasticSearch url is running and valid
3. oc create -f stressng.yaml

stressng.yaml
[code]
Notice that data didnt upload to elastic search.
Got the following

[2021-07-26 10:55] rsevilla87 commented on #615
@ebattat works for me using the latest bits, make sure the ES url has the correct format as per noted at https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/elastic.md#enabling-collection

[2021-07-26 12:15] jtaleric commented on #615
also, this issue is missing the most important part --

[code]

How can we help you debug if you don't provide the url, or url representing something close to your ES instance?

[2021-07-26 12:37] #615 closed

[2021-07-26 12:38] ebattat commented on #615
DNS issue, works for me with External ElasticSearch

[2021-07-29 12:05] ebattat opened #619 "benchmark-controller-manager: default-scheduler 0/3 nodes are available: 3 Insufficient cpu due to resources limit"
**Describe the bug**
Insufficient cpu due to resource limit

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/cloud-bulldozer/benchmark-operator
2. cd benchmark-operator
3. make deploy
4. Notice that pod benchmark-controller-manager stuck on pending
5. kubectl describe pod benchmark-controller-manager
6. Notice that default-scheduler 0/3 nodes are available: 3 Insu

[2021-07-29 14:18] ebattat commented on #619
Looks like environment issue cause by OCS
Close it

[2021-07-29 14:18] #619 closed

[2021-08-01 06:34] #574 closed

[2021-08-02 16:29] mukrishn commented on #583
@Tan2Pi This is fixed already in the mentioned PR, can be closed if no more concerns.

[2021-08-03 16:51] #608 closed

[2021-08-04 20:41] bengland2 commented on #595
see [smallfile PR 27 auto-pause](https://github.com/distributed-system-analysis/smallfile/pull/27) for a possible solution, have been testing it in between other things.

[2021-08-05 07:47] ebattat opened #631 "E2E VM support: Adding E2E tests for VM workloads"
**Is your feature request related to a problem? Please describe.**
The current E2E tests supports Pod workloads only, I suggest to add also E2E support for VM workloads using cutting edge technology based on Python3/ Docker/ Github actions/ Terraform/ Cloud

**Describe the solution you'd like**
The solution is to run smart E2E tests per each commit using Github actions for Pod and VM workloads usi

[2021-08-05 10:47] jtaleric commented on #631
Why do we need this `benchmark-runner`?

[2021-08-05 11:05] jtaleric commented on #631
`[estimation time for full deployment ~1 hour]` - This is a bit concerning.

[2021-08-05 11:16] ebattat commented on #631
Benchmark runner is a framework that gives an ability to run VM and Pod workloads in simple and smart way and that including configuration, recovery and validation mechanism. Also it gives you a simple workflow for adding a new workload.
We can try embedded it inside benchmark operator but that required maintenance for every enhancement inside benchmark-runner.

[2021-08-05 12:47] sjug commented on #631
Hi @ebattat, thanks for the enhancement suggestion.

I'm not sure I'm clear on your suggestion:

- Which current e2e tests are you referring to the ones run on `benchmark-operator`?
- The change you're proposing is to add support for "VM workloads"?
- Given the "VM workloads" you're talking about are CNV in OpenShift, what would the practical difference be between a typical pod workload and a CNV

[2021-08-05 13:36] learnitall commented on #631
There are three main points of concern that I have here.

First, can you talk about the purpose behind benchmark-runner? I agree with @sjug that it looks like a wrapper around benchmark-operator. If this is the case, we **can not have** benchmark-runner be used for a CI for benchmark-operator. We faced this same problem with benchmark-wrapper where benchmark-wrapper's testing CI used benchmark-ope

[2021-08-05 15:33] ebattat commented on #631
Hi @sjug and @learnitall,

First thanks for reviewing my feature enhancement.
1. The main purpose of [benchmark-runner](https://github.com/redhat-performance/benchmark-runner) framework is for OpenShift CNV Performance benchmarks that placed on IBM cloud. The current CI is only for package unittest/ Integration/ E2E tests. Currently, benchmark-runner support Stressng, Uperf, Hammerdb(Mariadb,mssql

[2021-08-05 16:33] ebattat commented on #631
Hi @sjug,
First thanks for reviewing my feature enhancement.

Please see my answers below:

**Which current e2e tests are you referring to the ones run on benchmark-operator?**
I mean to the tests that run against every commit change that related only to pod workloads.

**The change you're proposing is to add support for "VM workloads"?**
Yes, I want to add CNV workload tests that will run per com

[2021-08-05 17:33] whitleykeith commented on #631
Sure, using Github Actions is good idea and I agree that we should look at making our CI better in general, but the idea that we should spin up Azure clusters or even use *any* type of cluster that's not ephemeral (i.e. minikube/kind/etc.) will not scale. I know that we currently do use a long-running openshift cluster to run these tests but IMO we should move away from that.

If this is the case

[2021-08-05 20:09] ebattat commented on #631
Hi @whitleykeith ,

I agree and disagree with some point.
To have an unittest is best practice and I recommend to you it and try as you can to mock things. (i.e [benchmark runner unittest](https://github.com/redhat-performance/benchmark-runner/blob/main/tests/unittest/benchmark_runner/common/oc/test_oc.py#L33)
But you must have also integrations and E2E tests for stable release otherwise we will f

[2021-08-05 20:29] ebattat commented on #631
Hi All,

Here is the meeting summery with @jtaleric team:

We will create an isolate nightly CI using Azure cluster for all supported VM/Pod workloads in benchmark-runner.
Every night Benchmark-runner (using Github actions) will create an image using latest benchmark-operator and run E2E tests against Pod/VM workloads. In a case of failure a ticket will be raised in benchmark-operator Github issue

[2021-08-07 06:06] #579 closed

[2021-08-08 18:24] #581 closed

[2021-08-10 10:03] mulbc opened #635 "benchmark CRs should not be handled in parallel"
**Is your feature request related to a problem? Please describe.**
When creating two or more benchmark CRs, I expect these CRs to be handled after each other, not at the same time

**Describe the solution you'd like**
Keep all benchmark CRs in Pending or Waiting phase until one is finished, then activate the next CR.

**Describe alternatives you've considered**
You can write a script that continuo

[2021-08-10 10:23] jtaleric commented on #635
Understood. We do not have this logic, but to add this logic we would want to consider : https://github.com/cloud-bulldozer/benchmark-operator/issues/465

Not sure if the approach should be handle 1 CR at a time... or have the option to run multiple/single...

[2021-08-10 12:42] #592 closed

[2021-08-10 12:59] bengland2 commented on #635
So from a different perspective, I find it very useful to be able to run benchmark CRs at the same time.  Elko Kuric explained the utility of this feature. This allows us to test things like what happens to Cephfs if there is heavy RBD access simultaneous with it, or what happens to Ceph if the network is busy or there are a lot of PVs coming and going, for example.

It would be great if we could

[2021-08-10 15:34] dry923 opened #637 "test foo"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-10 15:36] #637 closed, assigned to nobody

[2021-08-11 11:40] #584 closed

[2021-08-12 10:29] MuhammadMunir12 opened #640 "Testpmd benchmark fails: Testpmd pod keeps crashing and trex pod runs for few seconds then goes in error state"
I am testing testpmd DPDK app as a benchmark on Intel NICs (XXV710) with OpenShift cluster 4.6. Upon running the benchmark as given below:

### oc create -f dpdkapp.yaml

[code]

The benchmark gets created, the testpmd pod keeps restarting by going into crashloopback, error states. Whereas, trex pod runs for few seconds then it goes into error state.
The logs for trext pod are given below:

[code]

[2021-08-12 10:48] jtaleric commented on #640
I have asked @mukrishn to check this out, but looking at the log, it would seem the issue is that you didn't provide a Elasticsearch URL. This would be a bug, as we shouldn't require a ES URL to be passed. If my assumptions are correct.

To verify this, you could use our development ES instance to try this. `https://search-perfscale-dev-chmf5l4sh66lvxbnadi4bznl3a.us-west-2.es.amazonaws.com:443`

[2021-08-12 12:47] MuhammadMunir12 commented on #640
@jtaleric  I have tried running on your test cluster but facing the same issue. The details are given below:

[code]

Pods (testpmd and trex) goes in error state. Logs are attached below:
### Testpmd pod

[code]

### Trex pod

[code]

[2021-08-12 13:15] mukrishn commented on #640
@MuhammadMunir12 so you mentioned that your `testpmd` pod kept restarting and got in to `crashloopback` that worries me much, if `testpmd` pod isn't running `trex` would definitely fail. Could you paste the error from `testpmd` pod?
I am assuming the pods are pinned to a different worker node although your referred CR has same, just checking because we have the pod Antiaffinity check [here](https:

[2021-08-12 13:23] MuhammadMunir12 commented on #640
@mukrishn I have pinned them on different worker nodes this time but still the issue is same. Logs for testpmd pod are attached.
[code]

[2021-08-12 13:50] jtaleric commented on #640
It _shouldn't_ be a requirement. However, some things do slip through the cracks. However, it would be good to catch this issue, vs drop a traceback.

[2021-08-12 14:16] rsevilla87 commented on #640
Hi, I filed https://github.com/cloud-bulldozer/benchmark-wrapper/pull/322 to help debugging the json parsing issues. As soon is merged, mind you try running the workload again adding `debug: true` in the Benchmark YAML?

[2021-08-12 14:33] MuhammadMunir12 commented on #640
@mukrishn  I have added socket_memory from Numa 1, then tried other parameters like:
[code]

But still the issue is still there.

[2021-08-12 14:36] mukrishn commented on #640
@MuhammadMunir12 could you share the SRIOV and PAO policies you used ?

[2021-08-12 14:37] MuhammadMunir12 commented on #640
@rsevilla87 Kindly verify if I've added debug flag at the right place. With this CR, the issue still persists.

[code]

[2021-08-12 17:44] MuhammadMunir12 commented on #640
@mukrishn The DPDK node policy is:

[code]

The PAO manifest is:

[code]

The performance profile is:

[code]

The only strange thing is that I have used "**netdevice**" driver with Intel NICs because **"vfio-pci"** was not creating VFs.

[2021-08-12 17:50] rsevilla87 commented on #640
@MuhammadMunir12, `debug: true` is nested under args

[2021-08-12 18:11] mukrishn commented on #640
@MuhammadMunir12 It has to be `vfio-pci` for Intel XXV710 cards, as you can see the `testpmd` application tries to load VFIO modules. We have [documented](https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/testpmd.md#sample-sr-iov-configuration) in SR-IOV configuration for different cards.

Also make sure you have Hugepages allocated on NUMA Socket 1 on the worker nodes. `cat /

[2021-08-12 18:39] rsevilla87 commented on #640
Hey, I just merged the debug patch, can you try again?

[2021-08-12 18:42] rsevilla87 commented on #640
Hey, I just merged the debug patch, can you try again?

[2021-08-13 05:46] MuhammadMunir12 commented on #640
@mukrishn Using `vfio-pci` for node policy doesn't create VFs on the given interface.
And yes hugepages are allocated to both Numa sockets.

[code]

[2021-08-13 05:55] MuhammadMunir12 commented on #640
@rsevilla87 Thank you. I have checked but it's not working. As @mukrishn  mentioned that for Intel driver must be `vfio-pci` but with this driver I'm unable to create VFs using node policy, VFs are created only when I use `netdevice` driver type which is for Mellanoc NICs.  I don't understand why it's behaving like this.

[2021-08-13 11:07] bengland2 commented on #635
Chris, Joe's proposal #465 does allow for either parallel or serial execution.   I like inheriting some parameters of the benchmark suite down to the individual benchmarks, so I don't have to repeat parameters.  Examples: prometheus: section, elasticsearch: section.

Only thing that concerns me here is that the test uuid might be the same for all of the component tests, which could make it hard to

[2021-08-13 11:21] bengland2 commented on #465
I really like this idea. However, each benchmark in the suite must get its own uuid, so data is retrievable from elasticsearch.

The BenchmarkSuite idea allows for inheritance of parameters to a set of benchmarks.    Also there could be shared parameters of all the tests, like prometheus:, elasticsearch:, system_metrics:, etc.  to simplify the CR.   Would it be possible to just run backpack at the

[2021-08-13 12:21] mukrishn commented on #640
@MuhammadMunir12 May be you can try, `netdevice` with `isRdma: true`.

[2021-08-13 12:55] MuhammadMunir12 commented on #640
@mukrishn That can be tried, but it's set to true in Mellanox NICs for DPDK.

[2021-08-14 21:01] #567 closed

[2021-08-16 10:16] MuhammadMunir12 opened #642 "iperf3 Benchmark fails: Running benchmark of iperf3 for UDP doesn't work and Pods go in error state."
I have run the iperf3 benchmark with default configs as mentioned in the benchmark manifest given below:

[code]

The above manifest works fine. As mentioned here: [https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/iperf.md]
When I add extra options for the client & server for UDP as "-u", both server and client pods go in an error state. Whereas, upon using "u" flag I see no

[2021-08-16 10:27] jtaleric commented on #642
So, the `u` option works, it is when you add the `-` to the option, the pods go into error state.

It seems like your concern is if the test is actually using UDP vs TCP, not necessarily the flag.

We don't extensively use `iperf3`, we use the `UPerf` benchmark for most of our throughput testing.

[2021-08-16 10:40] MuhammadMunir12 commented on #642
@jtaleric But it should work at least with iperf3, isn't it? Yeah, I can understand whether it's using TCP or UDP traffic.

You've run Uperf with the following manifest as mentioned in the benchmark's guide?
(https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/uperf.md)

Is it necessary to set up elasticsearch prior to running Uperf?

[2021-08-16 10:41] rsevilla87 commented on #642
@MuhammadMunir12 in case you're still interested in using iperf, you shouldn't set -u in `extra_options_server` in the CR.

[2021-08-16 10:42] MuhammadMunir12 commented on #642
@rsevilla87 so using only "u" sets the traffic patterns to UDP?

[2021-08-16 10:58] rsevilla87 commented on #642
extra_options_server and extra_options_client are passed directly to iper3 server and client respetively. And yes, -u/--udp enables UDP traffic.

[code]

[2021-08-16 11:04] MuhammadMunir12 commented on #642
@rsevilla87  Thank you for confirming on the UDP flag. What's your opinion about this?

[2021-08-16 11:19] rsevilla87 commented on #642
No it's not necessary as the iper3 workload does not index any document in ES (https://github.com/cloud-bulldozer/benchmark-operator#workloads-status), just make sure metadata collection is disabled.

[2021-08-16 12:42] MuhammadMunir12 commented on #642
@jtaleric So, how we can get to know for using "u" flag in extra_server_options and extra_client_options is changing traffic patterns to UDP? Is there any method to check it?

[2021-08-16 13:10] mulbc commented on #465
I like it too! Please implement :D

[2021-08-16 13:11] mulbc commented on #635
I guess #465 would solve my issue then, thus closing this and will see if we can get this in soon

[2021-08-16 13:34] jtaleric commented on #642
Other than sniffing the traffic, no? You could possibly set a ACL to drop/not-allow any TCP traffic between pods, and see if it succeeds.

[2021-08-16 14:07] sjug commented on #642
@MuhammadMunir12 as @rsevilla87 mentioned you will only need to set `-u` for the `extra_options_client` field.

Additionally the client pod will still fail if you keep the default `length_buffer` as `128K` is not compatible with UDP.
Either modify, comment out or delete `length_buffer` from the test CR, and you're good to go.

[2021-08-17 10:49] #635 closed

[2021-08-17 11:11] MuhammadMunir12 commented on #642
@sjug Thank you for pointing out the length buffer parameter. I have been able to run it.

[code]

[2021-08-17 13:10] KarthikDev opened #644 "Uperf is unable to startup server pod because of character truncate to 27"
**Describe the bug**
I have applied uperf workload from the folder tests/test_cr/valid_uperf.yml. It does not show any result at all, on looking through the logs could see this error:

 a lowercase RFC 1123 subdomain must consist of lower case alphanumeric characters, \\'-\\' or \\'.\\', and must start and end with an alphanumeric character (e.g. \\'example.com\\', regex used for validation is \\'

[2021-08-17 13:28] sjug commented on #642
@MuhammadMunir12 Glad to hear you've got it working.

[2021-08-17 13:28] #642 closed

[2021-08-17 13:51] KarthikDev opened #645 "Image-pull does not show the metrics - manager container logs shows syntax error in ansible playbook"
**Describe the bug**
Image Pull creates the pods successfully. Pods are in running state. However this is the error i could see in manager container logs:

 TASK [include_role] ********************************
fatal: [localhost]: FAILED! => {
    "msg": "The conditional check 'system_metrics.collection | bool' failed. The error was: error while evaluating conditional (system_metrics.collection | b

[2021-08-17 13:58] rsevilla87 commented on #645
Can you paste the output of the benchmark?

[code]

[2021-08-18 06:27] KarthikDev commented on #645
TASK [include_role] ********************************
[0;31mfatal: [localhost]: FAILED! => {[0m
[0;31m    "msg": "The conditional check 'cr_state is defined and cr_state.resources[0].status is defined and not cr_state.resources[0].status.complete|bool and (cr_state.resources[0].status.state is not defined or cr_state.resources[0].status.state != \"Error\")' failed. The error was: error while eva

[2021-08-18 06:36] KarthikDev commented on #645
apiVersion: ripsaw.cloudbulldozer.io/v1alpha1
kind: Benchmark
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"ripsaw.cloudbulldozer.io/v1alpha1","kind":"Benchmark","metadata":{"annotations":{},"name":"image-pull","namespace":"benchmark-operator"},"spec":{"workload":{"args":{"image_list":["docker://registry.artifactory.intra.abc.in/redis/redis:3

[2021-08-18 10:48] MuhammadMunir12 opened #646 "Uperf benchmark fails: Unable to run uperf as benchmark"
Hi,

I am trying to run the Uperf as benchmark using the following two CRs. First one create server only and gets stuck on creating client pod. Whereas, the second script fails to run it as benchmark.

### CR 1
[code]

### CR2

[code]

I need some clarity on running it as a benchmark. Help from the community will be highly appreciated.

[2021-08-18 15:50] jtaleric commented on #646
Can you please provide the log / description of the client pod to help us diagnose the `CR1` issue.

`CR2` what are you attempting to do here?

[2021-08-18 17:20] bengland2 commented on #595
so I have an auto-pause branch in smallfile now, but that wasn't the whole problem.   Part of the issue is cache dropping, which is done by client-1 pod only, and this throws client-1 out of sync with the other ones.   Also, the redis synchronization is done *after* the test.   I changed it so that the redis synchronization is now done right before smallfile_cli.py command, and also at the end aft

[2021-08-18 18:21] jtaleric commented on #644
@HughNhan @smalleni @rsevilla87
Thoughts on a fix for this?

[2021-08-18 18:36] HughNhan commented on #644
Name cannot be more than 63 chars (k8s API). Since Uperf internally appends some metadata i.e an uuid or suffix to it, it may have to truncate the original name to keep resultant name within 63 char.  Looks like the truncation logic needs additional checks to make sure the last char is not one of those forbidden chars.

[2021-08-19 08:52] MuhammadMunir12 commented on #646
@jtaleric I am using these CRs as mentioned in the benchmark operator's workloads. The main difference between these two is the resource definition for server and client pods.  CR2 is the actual CR given in docs at (https://github.com/cloud-bulldozer/benchmark-operator/blob/master/docs/uperf.md).

For `CR1`,  server pod status is running, client pod doesn't come up in "`oc get pods`".
The output f

[2021-08-19 18:36] jtaleric commented on #646
Well you have pin set to true, so effectively CR1 and CR2 are the same -- minus the message size?

Can you please provide more detailed output from the operator to help diagnose this. If the client never came up, that tells me there is a configuration issue.

[2021-08-19 18:57] jtaleric commented on #644
@KarthikDev Does this help?

[2021-08-19 20:37] KarthikDev commented on #644
Hi Cloud-Bulldozer/Benchmark-Operator,

Is there anyway where post truncate you can replace the . Character with
someother valid character? Because as I see it, the regex which does the
validation of node name is the actual problem here. Unfortunately 27th
character of node name is (.) Dot character along with that uuid is
appended. Either reducing the truncate length by one character or replacing

[2021-08-20 07:55] MuhammadMunir12 commented on #646
@jtaleric  The output stats are given below.

[code]
### Benchmark status
[code]

### Operator logs
[code]

Kindly let me know if you need more details, I'll grab those for you.

[2021-08-20 12:26] rsevilla87 commented on #645
Thanks for reporting @KarthikDev , the error you mentioned is not related to the workload itself. It should be handled properly though, will file a PR to address it.

[2021-08-20 12:49] rsevilla87 commented on #645
it should be fixed by one of the CRD changes proposed at:
- https://github.com/cloud-bulldozer/benchmark-operator/pull/638

[2021-08-20 16:49] djohnston89 commented on #530
Apologies on my late response. Yes, I do believe that this disconnected capability should be documented and perhaps even allow an environment variable or config file for the customer to provide their private container repo hostname for a more automated way of implementing.

[2021-08-20 19:56] HughNhan commented on #644
Just to confirm the basic. What are your node names for the pin_server and pin_client?

[2021-08-20 20:10] jtaleric commented on #646
Describing ins't the log. Please capture the ansible log.

[2021-08-20 21:59] KarthikDev commented on #644
Sf160AX5551.apps.c01a.paas.ocp.abc.in

The domain name follows the similar format. After the truncate the server
name ends upto ocp.-uuid

The last character after truncate is .(dot character). As server itself
couldn't startup, client pod didn't even reach that point.

On Fri, Aug 20, 2021, 9:56 PM hnhan ***@***.***> wrote:

[2021-08-21 07:40] ebattat opened #648 "Benchmark runner CNV CI failed: VM STATE: didn't reach to completed after 'Benchmark status handler #638' fix"
**Describe the bug**
Stressng/ hammerdb/ Uperf VM didnt reach to completed state
This issue is started to reproduce after merging PR Benchmark status handler #638  ( working perfect before, [benchmark runner last green CI](https://github.com/redhat-performance/benchmark-runner/runs/3322441905?check_suite_focus=true))

**To Reproduce**
Steps to reproduce the behavior:
1. Run stressng in vm
2. Run '

[2021-08-22 23:56] HughNhan commented on #644
Your node names triggered 2 bugs: 1) truncation result with a 'dot'  2) Missing handling for uppercase letter(s) in name which will result in invalid k8s object name.

I think this diff will fix both:

diff --git a/roles/uperf/templates/server.yml.j2 b/roles/uperf/templates/server.yml.j2
index dd9a4cd..0cfe78e 100644
--- a/roles/uperf/templates/server.yml.j2
+++ b/roles/uperf/templates/server.yml.

[2021-08-23 00:07] HughNhan commented on #646
For CR2, you need to have a [valid ](https://kubernetes.io/docs/concepts/containers/runtime-class/) "runtime_class"  If you don't have one, just do not have this variable in the CR2. Or, pod will not start.

For CR1, can you capture "oc logs <your-operator>"

[2021-08-23 10:19] piyushgupta1551 opened #649 "Unable to install benchmark-operator using default method and helm chart for ppc64le"
Hi Team,

I am unable to install the benchmark-operator using both provided methods on ppc64le clusters. See issues below -

**- Default method provided -**
[code]

What I get -

[code]
Why I get this error - There is no kustomize release tar available upstream for ppc64le https://github.com/cloud-bulldozer/benchmark-operator/blob/ef4b6638c806969db99f1dae4cfc9578fc7db3c5/Makefile#L123

**- Helm -*

[2021-08-23 12:16] KarthikDev commented on #644
Hi @HughNhan , I have just found out that there are no uppercase charas in the node names. everything is in lower case. I'm sorry about that. I haven't noticed it.

af160ab00005.c01x.paas.ocp.abc.in, the server names are created as:

 "msg": "Failed to create object: b'{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\",\"message\":\"Job.batch \\\\\"uperf-server-af160

[2021-08-23 13:18] HughNhan commented on #644
Patch the diff, build and install the operator per [instruction](https://github.com/cloud-bulldozer/benchmark-operator). If it fixes your problem I will create a PR.

[2021-08-24 10:21] MuhammadMunir12 commented on #646
@HughNhan  & @jtaleric
From CR2, I've removed the runtime_class and now CR2 and CR1 are behaving the same. The server pod comes up in a running state whereas, client pods are not getting scheduled. From benchmark output, it shows clients are starting.

### Benchmark status
[code]

### Pods status
[code]

### Sriov Operator pods list
[code]

Gathering logs for operator's pod (sriov-network-operator

[2021-08-24 12:59] HughNhan commented on #646
@MuhammadMunir12, find your benchmark operator pod i.e "benchmark-controller-manager-xxxxx-xxxx". Then capture the log as I have mentioned above, "oc logs [your-operator-pod] -c manager".

[2021-08-24 13:07] bengland2 commented on #595
benchmark-wrapper PR 328 (merged) should address cache-dropping component of this

[2021-08-24 13:43] MuhammadMunir12 commented on #646
@HughNhan Here's the output and it does not show any issues.

[code]

[2021-08-24 13:54] bengland2 commented on #595
benchmark-wrapper PR 329 should speed up cache dropping for large tests, and make it more effective by dropping kernel cache first (pushing dirty pages to OSDs first before dropping OSD cache).

[2021-08-24 16:17] HughNhan commented on #646
@MuhammadMunir12 - the logs above was from deploying operator. Can you capture the logs during applying your CR.  Having say that, I am seeing earlier your logs were:
NAME                                             READY   STATUS    RESTARTS   AGE
benchmark-operator-74ddd858c-rprkm               2/2     Running   0          6m1s
uperf-server-r192bc1.oss.labs-0-8712d0a5-2wpc6   1/1     Running   0

[2021-08-24 20:17] bengland2 commented on #595
smallfile auto-pause PR , bmk oper PR 652 together with the above PRs should fix this, needs  more testing before issue is closed.

[2021-08-25 07:05] KarthikDev commented on #644
Hi @HughNhan, The diff successfully spinned up server pods. However client pods are not even created. I will investigate and raise another issue. You can raise PR for the above patch.

[2021-08-25 07:08] KarthikDev commented on #645
Hi @rsevilla87 , The image-pull output, will it be only offloaded and viewed in Elastic search or can it be seen as part of controller-manager pods logs?

[2021-08-25 07:14] KarthikDev opened #653 "make image-build fails - certificate error galaxy.ansible.com"
**Describe the bug**
While building your own image, the image build fails in step 4.

**To Reproduce**
Steps to reproduce the behavior:
git clone https://github.com/cloud-bulldozer/benchmark-operator
cd benchmark-operator
make image-build image-push deploy IMG=$YOUR_IMAGE

**Expected behavior**
Image Build should be complete and controller manager pods should spin up.

**Additional context**
STEP

[2021-08-25 08:06] MuhammadMunir12 commented on #646
@HughNhan What I understand is: I have to delete the existing operator (benchmark operator) and redeploy it and then run my CR for uperf as a benchmark. Right?

[2021-08-25 08:11] MuhammadMunir12 commented on #640
@mukrishn Didn't work on `netdevice` with` isRdma: true`.

@jtaleric  Any updates at your end regarding this issue?

[2021-08-25 08:22] #653 closed

[2021-08-25 08:23] KarthikDev commented on #653
Issue from my end.

[2021-08-25 12:21] KarthikDev commented on #645
Hi @rsevilla87 , Looks like image-pull has broken again. Benchmark/image-pull is in Building state.

 TASK [Image pull pods] ********************************
fatal: [localhost]: FAILED! => {
    "msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'url'\n\nThe error appears to be in '/opt/ansible/roles/image_pull/tasks/main.yml': line 4, col

[2021-08-25 12:51] KarthikDev opened #654 "uperf client pods are not being built"
uper server pods are up and running. But client pods are failing in the following step:

TASK [uperf : Start Client(s) w/o serviceIP] ***********************************
task path: /opt/ansible/roles/uperf/tasks/start_client.yml:18

-------------------------------------------------------------------------------
{"level":"info","ts":1629894553.3246064,"logger":"logging_event_handler","msg":"[playbo

[2021-08-25 13:21] HughNhan commented on #646
@MuhammadMunir12 - Let us start fresh.
1. oc delete namespace my-ripsaw benchmark-operator
2. clone the repos, https://github.com/cloud-bulldozer/benchmark-operator.git
3. 'cd benchmark-operator' and 'make deploy'
4. Deploy your CR while capturing logs of '"oc logs benchmark-controller-manager-<xxx> -c manager"

[2021-08-25 13:29] HughNhan commented on #654
@KarthikDev can you attach the complete CR you were using

[2021-08-25 13:37] KarthikDev commented on #654
@HughNhan  I found out that the elasticsearch url in the template does not have default value. i dont have elastric search running, so have disabled it. Now the client pod is created and its been running. Can you help me where i can see the metrics, i could see the control manager logs are rolling for more than 5minutes now. I have mentioned runtime as 2, does that mean it should run for 2mins?

a

[2021-08-25 13:41] KarthikDev commented on #654
Hi @HughNhan Finally the run is complete without errors. However i'm still looking where to find the metrics output. Can you help me with it?

[2021-08-26 13:14] e-minguez opened #657 "RBAC issues with helm deployment method"
**Describe the bug**

The benchmarks fail in the `TASK [uperf : List Nodes Labeled as Workers] *********************************** ` task

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the benchmark-operator on top of OpenShift 4.7 using helm as instructed in the doc
2. Try to run the uperf test
3. Observe the `oc get benchmarks` output

**Expected behavior**
The benchmark works

**S

[2021-08-26 17:08] Tan2Pi opened #658 "TestPMD benchmark - Trex pod never starts"
**Describe the bug**
When running the TestPMD benchmark, the testpmd application pod starts, but the trex pod never does.  I believe this is due to the Elasticsearch dictionary always being defined even when it's not declared in the CR file. This leads to unexpected behavior when the trex template tries to access variables like `elasticsearch.url`. When I comment out the Elasticsearch-related stuf

[2021-08-26 17:12] Tan2Pi opened #659 "Trex Pod crashes due to invalid type casting"
After removing elasticsearch from the trex template to avoid the bug discussed in #658, the trex pod successfully starts, but the trex pod crashes due to a type mismatch.

Error from trex pod:
[code]

[2021-08-27 13:46] e-minguez opened #661 "sysbench node selector missing"
**Describe the bug**
The readme file for the sysbench test doesn't explain how to specify a node, neither the sample file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sysbench readme
2. Look for how to run the test on a specific node

**Expected behavior**
A clear and concise description of how to specify the node you want to test, as well as the sample file containing all the

[2021-08-28 21:17] #591 closed

[2021-08-30 05:26] MuhammadMunir12 commented on #614
@ebattat  I am facing the same issue and am already in the loop on this issue.  The issue is not yet solved.
 #https://github.com/cloud-bulldozer/benchmark-operator/issues/646

[2021-08-30 06:11] MuhammadMunir12 commented on #646
@HughNhan  Helm does not work with this command as mentioned in the operator's guide "`helm install benchmark-operator . -n benchmark-operator --create-namespace`". Have to create another namespace and it works. Besides this I didn't see any issue with helm charts.

### Deleted namespace my-ripsaw
[code]
I have cloned the operator from the repo.
(https://github.com/cloud-bulldozer/benchmark-operat

[2021-08-30 09:20] ebattat commented on #614
@MuhammadMunir12 Looks like I fix it in https://github.com/cloud-bulldozer/benchmark-operator/pull/663 (already merged)

[2021-08-30 11:23] ebattat commented on #648
Fixed by PR https://github.com/cloud-bulldozer/benchmark-operator/pull/663

[2021-08-30 11:23] #648 closed

[2021-08-30 13:51] HughNhan commented on #646
MuhammadMunir12 -  The namespace to use after "make deploy" is "benchmark-operator". Make sure your CR uses it.  Also include the logs like you did before "c logs benchmark-controller-manager-xxxx -c manager" if there is ANY issue. We cannot debug with just "It its not working"

[2021-08-31 05:45] MuhammadMunir12 commented on #646
@HughNhan I have updated its namespace, I earlier run it under openshift-sriov-network-operator namespace.

The benchmark is running now under: benchmark-operator namespace.

Still the client pods are in starting state and only server pod is running.

Logs from "`oc logs benchmark-controller-manager-59cdbb75f7-4vtwk -c manager -n benchmark-operator` "
show that an ansible playbook that benchmark r

[2021-08-31 07:26] #661 closed

[2021-08-31 12:00] HughNhan commented on #646
@MuhammadMunir12 - your CR is not right. For now if you do not have ES just remove both "elasticsearch" and "url".

 TASK [Start Client(s) w/o serviceIP] ********************************
fatal: [localhost]: FAILED! => {
    "msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'url'\n\nThe error appears to be in '/opt/ansible/roles/uperf/task